<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Wurth::top_level" title="Landing page" module="Wurth_Landingpage" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Wurth_Landingpage::wurth_landingpage_landing_page" title="manage landing page" module="Wurth_Landingpage" sortOrder="9999" resource="Magento_Backend::content" parent="Wurth::top_level" action="wurth_landingpage/landingpage/index"/>
	</menu>
</config>
