<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Wurth_Landingpage::parent" title="Landing page" module="Wurth_Landingpage" parent="Wcb_Base::menu" sortOrder="50" resource="Wurth_Landingpage::parent"/>
        <add id="Wurth_Landingpage::wurth_landingpage_landing_page" title="Manage landing page" module="Wurth_Landingpage" sortOrder="10" action="wurth_landingpage/landingpage/index" resource="Magento_Backend::content" parent="Wurth_Landingpage::parent"/>
    </menu>
</config>
