<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="wurth_landingpage" id="wurth_landingpage">
			<module before="Magento_Backend" name="Wurth_Landingpage"/>
		</route>
	</router>
</config>
