<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="Pim_Product::index_index" title="Products" module="Pim_Product" sortOrder="9998" 
           resource="Pim_Product::index_index" parent="Pim::top_level" action="pimproduct/index/index"/>
    </menu>
</config>
