<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="amastyRuleWizardInfo" xsi:type="array">
                    <item name="renderer" xsi:type="const">Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Amasty_SalesRuleWizard::messages/amastyRuleWizardInfo.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Block\Adminhtml\Promo\Quote">
        <plugin name="amastySalesRuleWizard::addButton" type="Amasty\SalesRuleWizard\Plugin\SalesRule\Block\Adminhtml\Promo\QuotePlugin"/>
    </type>
    <type name="Amasty\SalesRuleWizard\Controller\Adminhtml\Wizard\Save">
        <arguments>
            <argument name="session" xsi:type="object">\Magento\Backend\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>