"Not logged in","لم تقم بتسجيل الدخول"
"Report: %1","تقرير: %1"
"Report %1 is not defined.","لم يتم تعريف التقرير %1."
Actions,أفعال
"Invalid component type ""%1"", class %2 does not exists.","نوع المكون غير صالح &quot;%1&quot; ، الفئة %2 غير موجودة."
"All Store Views","جميع وجهات النظر المتجر"
Back,"الى الخلف"
Delete,حذف
"Are you sure you want to do this?","هل انت متأكد من أنك تريد أن تفعل هذا؟"
Save,حفظ
"Save & Continue","حفظ ومتابعة"
"Save & Send","حفظ وإرسال"
Edit,تصحيح
"Delete email?","حذف البريد الإلكتروني؟"
