"Not logged in",Nepřihlášen
"Report: %1","Zpráva: %1"
"Report %1 is not defined.","Zpráva %1 není definována."
Actions,Akce
"Invalid component type ""%1"", class %2 does not exists.","Neplatný typ součásti &quot;%1&quot;, třída %2 neexistuje."
"All Store Views","Všechna zobrazení obchodu"
Back,Zadní
Delete,Vymazat
"Are you sure you want to do this?","Opravdu chcete to udělat?"
Save,Uložit
"Save & Continue","Uložit a pokračovat"
"Save & Send","Uložit a odeslat"
Edit,Upravit
"Delete email?","Odstranit e-mail?"
