"Not logged in","Ikke logget ind"
"Report: %1","Rapport: %1"
"Report %1 is not defined.","Rapport %1 er ikke defineret."
Actions,Handlinger
"Invalid component type ""%1"", class %2 does not exists.","Ugyldig komponenttype &quot;%1&quot;, klasse %2 findes ikke."
"All Store Views","Alle butiksvisninger"
Back,Tilbage
Delete,Slet
"Are you sure you want to do this?","Er du sikker på, at du vil gøre dette?"
Save,Gemme
"Save & Continue","Gem og fortsæt"
"Save & Send","Gem og send"
Edit,Redigere
"Delete email?","Slet email?"
