"Not logged in","Nicht eingeloggt"
"Report: %1","Bericht: %1"
"Report %1 is not defined.","Der Bericht %1 ist nicht definiert."
Actions,Aktionen
"Invalid component type ""%1"", class %2 does not exists.","Ungültiger Komponententyp &quot;%1&quot;, Klasse %2 existiert nicht."
"All Store Views","Alle Shop-Ansichten"
Back,Zurück
Delete,Löschen
"Are you sure you want to do this?","Bist du sicher, dass du das machen willst?"
Save,Sparen
"Save & Continue","Speichern fortsetzen"
"Save & Send","Speichern und senden"
Edit,Bearbeiten
"Delete email?","E-Mail löschen?"
