"Not logged in","Δεν έχετε συνδεθεί"
"Report: %1","Αναφορά: %1"
"Report %1 is not defined.","Η αναφορά %1 δεν έχει οριστεί."
Actions,Ενέργειες
"Invalid component type ""%1"", class %2 does not exists.","Μη έγκυρος τύπος συστατικού &quot;%1&quot;, κλάση %2 δεν υπάρχει."
"All Store Views","Όλες οι προβολές κατάστημα"
Back,Πίσω
Delete,Διαγράφω
"Are you sure you want to do this?","Είστε βέβαιοι ότι θέλετε να το κάνετε αυτό;"
Save,Αποθηκεύσετε
"Save & Continue","Αποθήκευση &amp; Συνέχεια"
"Save & Send","Αποθήκευση &amp; αποστολή"
Edit,Επεξεργασία
"Delete email?","Διαγραφή ηλεκτρονικού ταχυδρομείου;"
