"Not logged in","Sin iniciar sesión"
"Report: %1","Informe: %1"
"Report %1 is not defined.","El informe %1 no está definido."
Actions,Comportamiento
"Invalid component type ""%1"", class %2 does not exists.","El componente inválido tipo &quot;%1&quot;, clase %2 no existe."
"All Store Views","Todas las vistas de la tienda"
Back,Espalda
Delete,Borrar
"Are you sure you want to do this?","¿Seguro que quieres hacer esto?"
Save,Salvar
"Save & Continue","Guardar Continuar"
"Save & Send","Guardar y enviar"
Edit,Editar
"Delete email?","¿Eliminar correo electrónico?"
