"Not logged in","وارد نشده اید"
"Report: %1","گزارش: %1"
"Report %1 is not defined.","گزارش %1 تعریف نشده است."
Actions,اقدامات
"Invalid component type ""%1"", class %2 does not exists.","%1 &quot;جزء نامناسب، کلاس %2 وجود ندارد."
"All Store Views","همه بازدیدها فروشگاه"
Back,بازگشت
Delete,حذف
"Are you sure you want to do this?","آیا مطمئنید که می خواهید این کار را انجام دهید؟"
Save,"صرفه جویی"
"Save & Continue","ذخیره و ادامه دادن"
"Save & Send","ذخیره و ارسال"
Edit,ویرایش
"Delete email?","حذف ایمیل؟"
