"Not logged in","Not logged in"
"Report: %1","Report: %1"
"Report %1 is not defined.","Report %1 is not defined."
Actions,Actions
"Invalid component type ""%1"", class %2 does not exists.","Invalid component type ""%1"", class %2 does not exists."
"All Store Views","All Store Views"
Back,Back
Delete,Delete
"Are you sure you want to do this?","Are you sure you want to do this?"
Save,Save
"Save & Continue","Save & Continue"
"Save & Send","Save & Send"
Edit,Edit
"Delete email?","Delete email?"
