"Not logged in","לא מחובר"
"Report: %1","דווח על: %1"
"Report %1 is not defined.","דוח %1 אינו מוגדר."
Actions,פעולות
"Invalid component type ""%1"", class %2 does not exists.","סוג רכיב לא חוקי &quot;%1&quot;, class %2 אינו קיים."
"All Store Views","כל תצוגות חנות"
Back,חזור
Delete,לִמְחוֹק
"Are you sure you want to do this?","האם אתה בטוח שברצונך לעשות זאת?"
Save,להציל
"Save & Continue","שמור המשך"
"Save & Send","שמור ושלח"
Edit,לַעֲרוֹך
"Delete email?","למחוק דוא&quot;ל?"
