"Not logged in","लोग इन नहीं है"
"Report: %1","रिपोर्ट करें: %1"
"Report %1 is not defined.","रिपोर्ट %1 परिभाषित नहीं है।"
Actions,क्रिया
"Invalid component type ""%1"", class %2 does not exists.","अमान्य घटक प्रकार &quot;%1&quot;, वर्ग %2 मौजूद नहीं है।"
"All Store Views","सभी स्टोर दृश्य"
Back,वापस
Delete,हटाना
"Are you sure you want to do this?","क्या आप वास्तव में इसे करना चाहते हैं?"
Save,बचाना
"Save & Continue","सहेजें जारी रखें"
"Save & Send","सहेजें और भेजें"
Edit,"संपादित करें"
"Delete email?","ईमेल हटाएं?"
