"Not logged in","Niste prijavljeni"
"Report: %1","Izvješće: %1"
"Report %1 is not defined.","Izvješće %1 nije definirano."
Actions,Akcije
"Invalid component type ""%1"", class %2 does not exists.","Nevažeća komponenta &quot;%1&quot;, klasa %2 ne postoji."
"All Store Views","Svi prikazi trgovine"
Back,Leđa
Delete,Izbrisati
"Are you sure you want to do this?","Jeste li sigurni da želite to učiniti?"
Save,Uštedjeti
"Save & Continue","Spremi i nastavi"
"Save & Send","Spremi i pošalji"
Edit,Uredi
"Delete email?","Izbrisati e-poštu?"
