"Not logged in","Nincs bejelentkezve"
"Report: %1","Jelentés: %1"
"Report %1 is not defined.","A jelentés %1 nincs meghatározva."
Actions,Hozzászólások
"Invalid component type ""%1"", class %2 does not exists.","Érvénytelen az &quot;%1&quot; típusú alkatrész, az %2 osztály nem létezik."
"All Store Views","Minden Store nézet"
Back,Hát
Delete,Töröl
"Are you sure you want to do this?","Biztosan meg akarja csinálni?"
Save,Mentés
"Save & Continue","Mentés és folytatás"
"Save & Send","Mentés és küldés"
Edit,Szerkesztése
"Delete email?","E-mail törlése?"
