"Not logged in","Belum masuk"
"Report: %1","Laporan: %1"
"Report %1 is not defined.","Laporan %1 tidak didefinisikan."
Actions,Tindakan
"Invalid component type ""%1"", class %2 does not exists.","Jenis komponen &quot;%1&quot; tidak valid, kelas %2 tidak ada."
"All Store Views","Semua Tampilan Toko"
Back,Kembali
Delete,Menghapus
"Are you sure you want to do this?","Anda yakin ingin melakukan ini?"
Save,Menyimpan
"Save & Continue","Simpan &amp; Lanjutkan"
"Save & Send","Simpan &amp; Kirim"
Edit,Edit
"Delete email?","Hapus email?"
