"Not logged in","Ekki innskráður"
"Report: %1","Skýrsla: %1"
"Report %1 is not defined.","Skýrsla %1 er ekki skilgreind."
Actions,Aðgerðir
"Invalid component type ""%1"", class %2 does not exists.","Ógildur hluti tegundar &quot;%1&quot;, flokkur %2 er ekki til."
"All Store Views","Allir vistarverðir"
Back,"Til baka"
Delete,Eyða
"Are you sure you want to do this?","Ertu viss um að þú viljir gera þetta?"
Save,Vista
"Save & Continue","Vista og haltu áfram"
"Save & Send","Vista og senda"
Edit,Breyta
"Delete email?","Eyða tölvupósti?"
