"Not logged in","Accesso non effettuato"
"Report: %1","Relazione: %1"
"Report %1 is not defined.","Il rapporto %1 non è definito."
Actions,Azioni
"Invalid component type ""%1"", class %2 does not exists.","Tipo di componente non valido &quot;%1&quot;, la classe %2 non esiste."
"All Store Views","Tutte le viste del negozio"
Back,Indietro
Delete,Elimina
"Are you sure you want to do this?","Sei sicuro di volerlo fare?"
Save,Salvare
"Save & Continue","Salva e continua"
"Save & Send","Salva e invia"
Edit,Modificare
"Delete email?","Elimina l&#39;email?"
