"Not logged in",Neprisijungęs
"Report: %1","Ataskaita: %1"
"Report %1 is not defined.","Pranešimas %1 nėra apibrėžtas."
Actions,Veiksmai
"Invalid component type ""%1"", class %2 does not exists.","Neteisingas komponento tipas &quot;%1&quot;, klasė %2 neegzistuoja."
"All Store Views","Visi parduotuvės vaizdai"
Back,Atgal
Delete,Ištrinti
"Are you sure you want to do this?","Ar tikrai norite tai padaryti?"
Save,Sutaupyti
"Save & Continue","Išsaugoti ir tęsti"
"Save & Send","Išsaugoti ir siųsti"
Edit,Redaguoti
"Delete email?","Ištrinti el. Laišką?"
