"Not logged in","Neesat pieteicies"
"Report: %1","Ziņojums: %1"
"Report %1 is not defined.","Ziņojums %1 nav definēts."
Actions,Darbības
"Invalid component type ""%1"", class %2 does not exists.","Nederīgs komponenta tips &quot;%1&quot;, klase %2 nepastāv."
"All Store Views","Visi veikala skatījumi"
Back,Atpakaļ
Delete,Dzēst
"Are you sure you want to do this?","Vai tiešām vēlaties to izdarīt?"
Save,Saglabājiet
"Save & Continue","Saglabāt un turpināt"
"Save & Send","Saglabāt un sūtīt"
Edit,Rediģēt
"Delete email?","Dzēst e-pastu?"
