"Not logged in","Не сте најавени"
"Report: %1","Извештај: %1"
"Report %1 is not defined.","Извештајот %1 не е дефиниран."
Actions,Акции
"Invalid component type ""%1"", class %2 does not exists.","Невалиден тип на компонента &quot;%1&quot;, класа %2 не постои."
"All Store Views","Сите прегледи на продавницата"
Back,Назад
Delete,Избриши
"Are you sure you want to do this?","Дали сте сигурни дека сакате да го направите ова?"
Save,Зачувај
"Save & Continue","Зачувај и продолжи"
"Save & Send","Зачувај и испрати"
Edit,Уредување
"Delete email?","Избриши е-пошта?"
