"Not logged in","Ikke logget inn"
"Report: %1","Rapport: %1"
"Report %1 is not defined.","Rapport %1 er ikke definert."
Actions,Handlinger
"Invalid component type ""%1"", class %2 does not exists.","Ugyldig komponenttype &quot;%1&quot;, klasse %2 finnes ikke."
"All Store Views","Alle butikkvisninger"
Back,Tilbake
Delete,Slett
"Are you sure you want to do this?","Er du sikker på at du vil gjøre dette?"
Save,Lagre
"Save & Continue","Lagre og fortsett"
"Save & Send","Lagre og send"
Edit,Redigere
"Delete email?","Slett e-post?"
