"Not logged in","Niet ingelogd"
"Report: %1","Rapport: %1"
"Report %1 is not defined.","Rapport %1 is niet gedefinieerd."
Actions,Acties
"Invalid component type ""%1"", class %2 does not exists.","Ongeldig componenttype &quot;%1&quot;, klasse %2 bestaat niet."
"All Store Views","Alle winkelweergaven"
Back,Terug
Delete,Verwijder
"Are you sure you want to do this?","Weet je zeker dat je dit wilt doen?"
Save,Opslaan
"Save & Continue","Opslaan doorgaan"
"Save & Send","Opslaan &amp; verzenden"
Edit,Bewerk
"Delete email?","E-mail verwijderen?"
