"Not logged in","Nie zalogowany"
"Report: %1","Raport: %1"
"Report %1 is not defined.","Raport %1 nie jest zdefiniowany."
Actions,Działania
"Invalid component type ""%1"", class %2 does not exists.","Nieprawidłowy typ komponentu &quot;%1&quot;, klasa %2 nie istnieje."
"All Store Views","Wszystkie widoki Store"
Back,Plecy
Delete,Kasować
"Are you sure you want to do this?","Czy na pewno chcesz to zrobić?"
Save,Zapisać
"Save & Continue","Zapisz Kontynuuj"
"Save & Send","Zapisz i wyślij"
Edit,Edytować
"Delete email?","Usunąć e-mail?"
