"Not logged in","Não logado"
"Report: %1","Relatório: %1"
"Report %1 is not defined.","O relatório %1 não está definido."
Actions,Ações
"Invalid component type ""%1"", class %2 does not exists.","Tipo de componente inválido &quot;%1&quot;, a classe %2 não existe."
"All Store Views","Todas as visualizações da loja"
Back,Costas
Delete,Excluir
"Are you sure you want to do this?","Você tem certeza de que quer fazer isso?"
Save,"Salve "
"Save & Continue","Salvar e continuar"
"Save & Send","Salvar e Enviar"
Edit,Editar
"Delete email?","Excluir email?"
