"Not logged in","Nu sunteți conectat (ă)"
"Report: %1","Raport: %1"
"Report %1 is not defined.","Raportul %1 nu este definit."
Actions,Acţiuni
"Invalid component type ""%1"", class %2 does not exists.","Tipul de component nevalid &quot;%1&quot;, clasa %2 nu există."
"All Store Views","Toate vizionările magazinului"
Back,Înapoi
Delete,Șterge
"Are you sure you want to do this?","Sigur vrei să faci asta?"
Save,Salvați
"Save & Continue","Salvați și continuați"
"Save & Send","Salvați și trimiteți"
Edit,"Editați | ×"
"Delete email?","Ștergeți emailul?"
