"Not logged in","Не вошел"
"Report: %1","Отчет: %1"
"Report %1 is not defined.","Отчет %1 не определен."
Actions,Действия
"Invalid component type ""%1"", class %2 does not exists.","Недопустимый тип компонента «%1», класс %2 не существует."
"All Store Views","Все виды магазинов"
Back,Назад
Delete,Удалить
"Are you sure you want to do this?","Вы уверены, что хотите это сделать?"
Save,Сохранить
"Save & Continue","Сохранить и продолжить"
"Save & Send","Сохранить и отправить"
Edit,Редактировать
"Delete email?","Удалить адрес электронной почты?"
