"Not logged in","Niste prijavljeni"
"Report: %1","Poročilo: %1"
"Report %1 is not defined.","Poročilo %1 ni definirano."
Actions,Akcije
"Invalid component type ""%1"", class %2 does not exists.","Neveljavna vrsta komponente &quot;%1&quot;, razred %2 ne obstaja."
"All Store Views","Vsi pogledi v trgovini"
Back,Nazaj
Delete,Izbriši
"Are you sure you want to do this?","Ste prepričani, da želite to storiti?"
Save,Shrani
"Save & Continue","Shrani in nadaljuj"
"Save & Send","Shrani in pošlji"
Edit,Uredi
"Delete email?","Izbriši e-pošto?"
