"Not logged in","Inte inloggad"
"Report: %1","Rapportera: %1"
"Report %1 is not defined.","Rapport %1 är inte definierad."
Actions,Handlingar
"Invalid component type ""%1"", class %2 does not exists.","Ogiltig komponenttyp &quot;%1&quot;, klass %2 existerar inte."
"All Store Views","Alla butiks vyer"
Back,Tillbaka
Delete,Radera
"Are you sure you want to do this?","Är du säker på att du vill göra det här?"
Save,Spara
"Save & Continue","Spara och fortsätt"
"Save & Send","Spara och skicka"
Edit,Redigera
"Delete email?","Ta bort e-post?"
