"Not logged in","Giriş yapmadınız"
"Report: %1","Rapor: %1"
"Report %1 is not defined.","Rapor %1 tanımlanmadı."
Actions,Eylemler
"Invalid component type ""%1"", class %2 does not exists.","Geçersiz bileşen türü &quot;%1&quot;, %2 sınıfı mevcut değil."
"All Store Views","Tüm Mağaza Görünümleri"
Back,Geri
Delete,Silmek
"Are you sure you want to do this?","Bunu yapmak istediğine emin misin?"
Save,"Kayıt etmek"
"Save & Continue","Kaydet ilerle"
"Save & Send","Kaydet ve Gönder"
Edit,Düzenle
"Delete email?","E-postayı sil"
