"Not logged in","Chưa đăng nhập"
"Report: %1","Báo cáo: %1"
"Report %1 is not defined.","Báo cáo %1 không được xác định."
Actions,"Hành động"
"Invalid component type ""%1"", class %2 does not exists.","Loại thành phần không hợp lệ &quot;%1&quot;, lớp %2 không tồn tại."
"All Store Views","Tất cả lượt xem cửa hàng"
Back,"Trở lại"
Delete,"Xóa bỏ"
"Are you sure you want to do this?","Bạn có chắc chắn muốn làm điều này?"
Save,"Tiết kiệm"
"Save & Continue","Lưu &amp; Tiếp tục"
"Save & Send","Lưu và gửi"
Edit,"Chỉnh sửa"
"Delete email?","Xóa email?"
