"Not logged in",未登录
"Report: %1",报告：%1
"Report %1 is not defined.",报告%1未定义。
Actions,操作
"Invalid component type ""%1"", class %2 does not exists.",组件类型“%1”无效，类%2不存在。
"All Store Views",所有商店视图
Back,背部
Delete,删除
"Are you sure you want to do this?",你确定你要这么做吗？
Save,保存
"Save & Continue",保存并继续
"Save & Send",保存并发送
Edit,编辑
"Delete email?",删除邮件？
