"Not logged in",未登錄
"Report: %1",報告：%1
"Report %1 is not defined.",報告%1未定義。
Actions,操作
"Invalid component type ""%1"", class %2 does not exists.",組件類型“%1”無效，類%2不存在。
"All Store Views",所有商店視圖
Back,背部
Delete,刪除
"Are you sure you want to do this?",你確定你要這麼做嗎？
Save,保存
"Save & Continue",保存並繼續
"Save & Send",保存並發送
Edit,編輯
"Delete email?",刪除郵件？
