<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
   <router id="standard">
      <route id="socialshare" frontName="socialshare">
         <module name="Sparsh_SocialShare"/>
      </route>
   </router>
</config>
