<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Wcb_AmastySalesRule" setup_version="1.0.1">
            <module name="Amasty_Base" />
            <module name="Amasty_SalesRuleWizard" />
            <module name="Amasty_Promo" />
            <module name="Amasty_Conditions" />
            <module name="Amasty_Rgrid" />
            <module name="Amasty_BannersLite" />
    </module>
</config>
