<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mst_seo_filter>
            <general>
                <is_enabled>0</is_enabled>
                <url_format>options</url_format>
            </general>
        </mst_seo_filter>
    </default>
</config>
