"Your search request '<strong>%1</strong>' did not match any products.","Ihre Suche &#39; <strong>%1</strong> &#39; hat keine Produkte gefunden."
"Did you mean:","Hast du gemeint:"
"Showing results using some of your search terms","Ergebnisse mit einigen Ihrer Suchbegriffe anzeigen"
"Search Spell-Correction","Suche Rechtschreibkorrektur"
"Rebuild your search spell-correction word index","Suchwort-Index der Rechtschreibkorrektur-Wörter neu erstellen"
