"Your search request '<strong>%1</strong>' did not match any products.","Votre recherche &#39; <strong>%1</strong> &#39; ne correspond à aucun produit."
"Did you mean:","Vouliez-vous dire:"
"Showing results using some of your search terms","Affichage des résultats en utilisant certains de vos termes de recherche"
"Search Spell-Correction","Recherche Correction orthographique"
"Rebuild your search spell-correction word index","Reconstruire l&#39;index des mots de correction des sorts de recherche"
