"Your search request '<strong>%1</strong>' did not match any products.","החיפוש שלך &#39; <strong>%1</strong> &#39; לא תואם למוצרים כלשהם."
"Did you mean:","האם התכוונת:"
"Showing results using some of your search terms","מציג תוצאות באמצעות חלק ממונחי החיפוש שלך"
"Search Spell-Correction","חיפוש תיקון איות"
"Rebuild your search spell-correction word index","בנה מחדש את האינדקס של תיקון מילות מפתח"
