"Your search request '<strong>%1</strong>' did not match any products.","Leitin þín &#39; <strong>%1</strong> &#39; passaði ekki við neinar vörur."
"Did you mean:","Áttirðu við:"
"Showing results using some of your search terms","Sýnir niðurstöður með nokkrum leitarskilmálum þínum"
"Search Spell-Correction","Leita stafsetning-leiðrétting"
"Rebuild your search spell-correction word index","Endurgerðu leitarorðaorðaskrárvísitölu"
