"Your search request '<strong>%1</strong>' did not match any products.","&#39; <strong>%1</strong> &#39;검색과 일치하는 제품이 없습니다."
"Did you mean:","그런 뜻 이었습니까:"
"Showing results using some of your search terms","일부 검색어를 사용하여 검색 결과 표시"
"Search Spell-Correction","검색 맞춤법 교정"
"Rebuild your search spell-correction word index","검색 맞춤법 교정 단어 색인 다시 작성"
