"Your search request '<strong>%1</strong>' did not match any products.","Вашето пребарување &#39; <strong>%1</strong> &#39; не се совпадна со ниту еден производ."
"Did you mean:","Дали мислеше:"
"Showing results using some of your search terms","Прикажани резултати користејќи некои од вашите термини за пребарување"
"Search Spell-Correction","Проверка на правописот"
"Rebuild your search spell-correction word index","Реконструирај индекс на зборови за корекција на магија за пребарување"
