"Your search request '<strong>%1</strong>' did not match any products.","Sua pesquisa &#39; <strong>%1</strong> &#39; não corresponde a nenhum produto."
"Did you mean:","Você quis dizer:"
"Showing results using some of your search terms","Mostrando resultados usando alguns dos seus termos de pesquisa"
"Search Spell-Correction","Correção ortográfica de pesquisa"
"Rebuild your search spell-correction word index","Reconstruir índice de palavras de correção ortográfica de pesquisa"
