"Your search request '<strong>%1</strong>' did not match any products.","Tìm kiếm của bạn &#39; <strong>%1</strong> &#39; không khớp với bất kỳ sản phẩm nào."
"Did you mean:","Ý bạn là:"
"Showing results using some of your search terms","Hiển thị kết quả bằng một số cụm từ tìm kiếm của bạn"
"Search Spell-Correction","Tìm kiếm chính tả-sửa"
"Rebuild your search spell-correction word index","Tạo lại chỉ mục từ chính tả tìm kiếm"
