<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="importProductAttributesValue" xsi:type="object">Pim\Product\Console\Command\UpdateProductAttributesValue</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="createProduct" xsi:type="object">Pim\Product\Console\Command\CreateProductCommand</item>
                <item name="updateProduct" xsi:type="object">Pim\Product\Console\Command\UpdateProductCommand</item>
                <item name="importImages" xsi:type="object">Pim\Product\Console\Command\ImportProductImagesCommand</item>

            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pimproduct_listing_data_source" xsi:type="string">Pim\Product\Model\ResourceModel\Product\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Pim\Product\Model\ResourceModel\Product\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">products</argument>
            <argument name="eventPrefix" xsi:type="string">product_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">product_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">>Pim\Product\Model\ResourceModel\Product</argument>
        </arguments>
    </type>


    <virtualType name="ProductGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="ProductGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">"Pim\Product\Model\ResourceModel\Product\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ProductGridFilterPool</argument>
        </arguments>
    </virtualType>

<!-- Custom Logger-->

  <virtualType name="Pim\Product\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/pim_product_import.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Pim\Product\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Pim Product Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Pim\Product\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Pim\Product\Model\ProductProcessor">
        <arguments>
            <argument name="logger" xsi:type="object">Pim\Product\Logger\Logger</argument>
        </arguments>
    </type>
<!--/Custom Logger-->

</config>
