<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mst_quick_navigation>
            <general>
                <is_enabled>1</is_enabled>
                <total_threshold>10</total_threshold>
                <attribute_threshold>3</attribute_threshold>
            </general>
        </mst_quick_navigation>
    </default>
</config>
