<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Search\Request\Query\Match" type="Mirasvit\SearchMysql\SearchAdapter\MatchCompatibility"/>
    <preference for="Magento\Framework\Search\Request\Query\MatchQuery" type="Mirasvit\SearchMysql\SearchAdapter\MatchCompatibility"/>

    <!-- register new search engine -->
    <type name="Magento\Search\Model\AdapterFactory">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="mysql2" xsi:type="string">Mirasvit\SearchMysql\SearchAdapter\Adapter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\EngineResolver">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="mysql2" xsi:type="string">mysql2</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\Adminhtml\System\Config\Source\Engine">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="mysql2" xsi:type="string">MySQL</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\ResourceModel\EngineProvider">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="mysql2" xsi:type="string">Mirasvit\SearchMysql\Model\ResourceModel\Engine</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="mysql2" xsi:type="string">Mirasvit\SearchMysql\Model\Indexer\IndexerHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Indexer\IndexStructureFactory">
        <arguments>
            <argument name="structures" xsi:type="array">
                <item name="mysql2" xsi:type="string">Mirasvit\SearchMysql\Model\Indexer\IndexStructure</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Advanced\ProductCollectionPrepareStrategyProvider">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="mysql2" xsi:type="object">Magento\CatalogSearch\Model\Advanced\ProductCollectionPrepareStrategy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogSearch\Model\Search\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="mysql2" xsi:type="object">elasticsearchAdvancedCollectionFactory</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\AdvancedSearch\Model\SuggestedQueries">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="mysql2" xsi:type="string">Magento\AdvancedSearch\Model\DataProvider\Suggestions</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Search\Dynamic\IntervalFactory">
        <arguments>
            <argument name="intervals" xsi:type="array">
                <item name="mysql2" xsi:type="string">Mirasvit\Search\Adapter\GenericInterval</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Elasticsearch\Model\Layer\Search\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="mysql2" xsi:type="object">Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollectionFactory</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Elasticsearch\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="mysql2" xsi:type="object">Magento\CatalogSearch\Model\ResourceModel\Fulltext\CollectionFactory</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\ProductFieldMapperProxy">
        <arguments>
            <argument name="productFieldMappers" xsi:type="array">
                <item name="mysql2" xsi:type="object">Magento\Elasticsearch7\Model\Adapter\FieldMapper\ProductFieldMapper</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Adapter\BatchDataMapper\CategoryFieldsProviderProxy">
        <arguments>
            <argument name="categoryFieldsProviders" xsi:type="array">
                <item name="mysql2" xsi:type="object">Magento\Elasticsearch\Elasticsearch5\Model\Adapter\BatchDataMapper\CategoryFieldsProvider</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="elasticsearchLayerSearchItemCollectionProvider" type="Magento\Elasticsearch\Model\Layer\Search\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="mysql2" xsi:type="object">elasticsearchFulltextSearchCollectionFactory</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="elasticsearchLayerCategoryItemCollectionProvider" type="Magento\Elasticsearch\Model\Layer\Category\ItemCollectionProvider">
        <arguments>
            <argument name="factories" xsi:type="array">
                <item name="mysql2" xsi:type="object">elasticsearchCategoryCollectionFactory</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Mirasvit\SearchMysql\SearchAdapter\Aggregation\Builder\Container">
        <arguments>
            <argument name="buckets" xsi:type="array">
                <item name="termBucket" xsi:type="object">Mirasvit\SearchMysql\SearchAdapter\Aggregation\Builder\Term</item>
                <item name="rangeBucket" xsi:type="object">Mirasvit\SearchMysql\SearchAdapter\Aggregation\Builder\Range</item>
                <item name="dynamicBucket" xsi:type="object">Mirasvit\SearchMysql\SearchAdapter\Aggregation\Builder\Dynamic</item>
            </argument>
        </arguments>
    </type>
</config>
