<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="amasty_promo_order_place_after" instance="Amasty\Promo\Observer\OrderPlaceAfterObserver" />
    </event>
    <event name="salesrule_validator_process">
        <observer name="amasty_promo_salesrule_validator_process" instance="Amasty\Promo\Observer\Salesrule\Discount" />
    </event>
    <event name="catalog_product_type_prepare_full_options">
        <observer name="add_promo_options" instance="Amasty\Promo\Observer\AddPromoOptionsToCandidate" />
    </event>
    <event name="checkout_cart_update_items_before">
        <observer name="amasty_promo_update_qty_before" instance="Amasty\Promo\Observer\CheckoutCartUpdateItemsBefore"/>
    </event>
    <!-- for add prefix to item name -->
    <event name="items_additional_data">
        <observer name="Amasty_Promo::item_converter" instance="Amasty\Promo\Observer\Quote\Cart\Totals\ItemConverterObserver" />
    </event>
    <event name="checkout_cart_save_before">
        <observer instance="Amasty\Promo\Observer\Quote\SetFlagBeforeSave" name="amasty_promo_set_restrict_save_flag"/>
    </event>
</config>
