<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sparshsocialshare>
            <general>
                <enabled>0</enabled>
                <color_schema>default</color_schema>
                <custom_button_color>#FFFFFF</custom_button_color>
                <custom_icon_color>#1B1C1C</custom_icon_color>
                <custom_background_color>#FFFFFF</custom_background_color>
                <border_radius>20</border_radius>
                <share_counter>1</share_counter>
                <thank_you>0</thank_you>
                <socialoption>
                    <facebook>1</facebook>
                    <twitter>1</twitter>
                    <google_gmail>0</google_gmail>
                    <pinterest>1</pinterest>
                    <linkedin>0</linkedin>
                    <whatsapp>1</whatsapp>
                    <reddit>0</reddit>
                </socialoption>
                <add_more_share>
                    <enabled>0</enabled>
                    <display_menu>click</display_menu>
                    <full_menu>1</full_menu>
                    <number_service>4</number_service>
                </add_more_share>
            </general>
            <float>
                <apply_for>all_pages</apply_for>
                <style>vertical</style>
                <position>left</position>
                <margin_top>160</margin_top>
                <margin_bottom>0</margin_bottom>
                <button_size>32x32</button_size>
            </float>
            <inline>
                <position>bottom_content</position>
                <show_under_cart>1</show_under_cart>
                <button_size>32x32</button_size>
            </inline>
        </sparshsocialshare>
    </default>
</config>
