@font-face {
  font-family: 'Wuerthicons';
  src:  url('fonts/Wuerthicons.eot?heiu07');
  src:  url('fonts/Wuerthicons.eot?heiu07#iefix') format('embedded-opentype'),
    url('fonts/Wuerthicons.ttf?heiu07') format('truetype'),
    url('fonts/Wuerthicons.woff?heiu07') format('woff'),
    url('fonts/Wuerthicons.svg?heiu07#Wuerthicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Wuerthicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wuerth-linkedin:before {
  content: "\ec09";
}
.icon-wuerth-linkedin-outline:before {
  content: "\ec0a";
}
.icon-wuerth-linkedin-solid:before {
  content: "\ec0b";
}
.icon-wuerth-eye:before {
  content: "\ec0f";
}
.icon-wuerth-eye-outline:before {
  content: "\ec10";
}
.icon-wuerth-eye-slash:before {
  content: "\ec11";
}
.icon-wuerth-click-collect:before {
  content: "\ec12";
}
.icon-wuerth-paketstation:before {
  content: "\ec13";
}
.icon-wuerth-s24-a:before {
  content: "\ec14";
}
.icon-wuerth-sofort-service:before {
  content: "\ec15";
}
.icon-wuerth-nicht-praemienrelevant:before {
  content: "\ec16";
}
.icon-interface-circle-cross-a:before {
  content: "\ec17";
}
.icon-interface-circle-cross-solid:before {
  content: "\ec18";
}
.icon-interface-circle-tick-solid:before {
  content: "\ec1a";
}
.icon-wuerth-tiktok:before {
  content: "\ec1c";
}
.icon-wuerth-tiktok-outline:before {
  content: "\ec1d";
}
.icon-wuerth-tiktok-solid:before {
  content: "\ec1e";
}
.icon-wuerth-commitment:before {
  content: "\ec1f";
}
.icon-wuerth-planer-und-konfiguratoren:before {
  content: "\ec20";
}
.icon-wuerth-rund-ums-produkt:before {
  content: "\ec21";
}
.icon-wuerth-podcast:before {
  content: "\ec22";
}
.icon-wuerth-lieferung:before {
  content: "\ec08";
}
.icon-wuerth-niederlassung:before {
  content: "\ec0c";
}
.icon-wuerth-user-change:before {
  content: "\ec0d";
}
.icon-wuerth-verkaeufer:before {
  content: "\ec0e";
}
.icon-wuerth-contains:before {
  content: "\eaef";
}
.icon-wuerth-contains-not:before {
  content: "\ec05";
}
.icon-wuerth-ends-with:before {
  content: "\ec06";
}
.icon-wuerth-starts-with:before {
  content: "\ec07";
}
.icon-wuerth-edi:before {
  content: "\eaf6";
}
.icon-wuerth-equal:before {
  content: "\ebe2";
}
.icon-wuerth-greater:before {
  content: "\ebef";
}
.icon-wuerth-greater-equal:before {
  content: "\ebfe";
}
.icon-wuerth-include:before {
  content: "\ebff";
}
.icon-wuerth-less:before {
  content: "\ec00";
}
.icon-wuerth-less-equal:before {
  content: "\ec01";
}
.icon-wuerth-not-equal:before {
  content: "\ec02";
}
.icon-wuerth-orsy-cart:before {
  content: "\ec03";
}
.icon-wuerth-orsy-label:before {
  content: "\ec04";
}
.icon-wuerth-customer-card-1:before {
  content: "\ea7b";
}
.icon-wuerth-customer-card-2:before {
  content: "\eb1f";
}
.icon-wuerth-datei-cad:before {
  content: "\eaed";
}
.icon-wuerth-streckenlieferungsindikator:before {
  content: "\ea9a";
}
.icon-wuerth-a-artikel:before {
  content: "\eab9";
}
.icon-wuerth-android-outline:before {
  content: "\ed93";
}
.icon-wuerth-android-solid:before {
  content: "\ebd8";
}
.icon-wuerth-android:before {
  content: "\ee23";
}
.icon-wuerth-e-mail-outline:before {
  content: "\ea33";
}
.icon-wuerth-e-mail-solid:before {
  content: "\ea35";
}
.icon-wuerth-e-mail:before {
  content: "\ea43";
}
.icon-wuerth-erstkauf:before {
  content: "\ea45";
}
.icon-wuerth-facebook-outline:before {
  content: "\eb93";
}
.icon-wuerth-facebook-solid:before {
  content: "\ea7f";
}
.icon-wuerth-facebook:before {
  content: "\ea83";
}
.icon-wuerth-google-plus-outline:before {
  content: "\ea84";
}
.icon-wuerth-google-plus-solid:before {
  content: "\ea85";
}
.icon-wuerth-google-plus1:before {
  content: "\ea86";
}
.icon-wuerth-grauer-riese:before {
  content: "\ea87";
}
.icon-wuerth-instagram-outline:before {
  content: "\e9ad";
}
.icon-wuerth-instagram-solid:before {
  content: "\ea9c";
}
.icon-wuerth-instagram:before {
  content: "\eab6";
}
.icon-wuerth-ios-outline:before {
  content: "\e9d0";
}
.icon-wuerth-ios-solid:before {
  content: "\eac3";
}
.icon-wuerth-ios:before {
  content: "\eac6";
}
.icon-wuerth-keine-verbindung-vpn:before {
  content: "\eacf";
}
.icon-wuerth-kernsortiment:before {
  content: "\ead3";
}
.icon-wuerth-kreditkarte-outline:before {
  content: "\ead6";
}
.icon-wuerth-kreditkarte-solid:before {
  content: "\eada";
}
.icon-wuerth-kreditkarte:before {
  content: "\eae6";
}
.icon-wuerth-offline:before {
  content: "\eae8";
}
.icon-wuerth-online:before {
  content: "\eae9";
}
.icon-wuerth-paypal-outline:before {
  content: "\ea0f";
}
.icon-wuerth-paypal-solid:before {
  content: "\eb22";
}
.icon-wuerth-paypal:before {
  content: "\eb5a";
}
.icon-wuerth-pinterest-outline:before {
  content: "\eb5c";
}
.icon-wuerth-pinterest-solid:before {
  content: "\1cf3";
}
.icon-wuerth-pinterest:before {
  content: "\eb76";
}
.icon-wuerth-preisstufe-7:before {
  content: "\eb78";
}
.icon-wuerth-randsortiment:before {
  content: "\eb7a";
}
.icon-wuerth-rechnung-outline:before {
  content: "\eb84";
}
.icon-wuerth-rechnung-solid:before {
  content: "\eb85";
}
.icon-wuerth-rechnung:before {
  content: "\eb88";
}
.icon-wuerth-s24:before {
  content: "\eb8c";
}
.icon-wuerth-sicherheitsdatenblaetter:before {
  content: "\eb8f";
}
.icon-wuerth-sortierte-abnahme:before {
  content: "\eb91";
}
.icon-wuerth-twitter-outline:before {
  content: "\eb9a";
}
.icon-wuerth-twitter-solid:before {
  content: "\eb9c";
}
.icon-wuerth-twitter:before {
  content: "\eb9e";
}
.icon-wuerth-verbindung-vpn:before {
  content: "\eba6";
}
.icon-wuerth-verfuegbarkeit:before {
  content: "\eba8";
}
.icon-wuerth-windows-outline:before {
  content: "\ebb5";
}
.icon-wuerth-windows-solid:before {
  content: "\ebb6";
}
.icon-wuerth-windows:before {
  content: "\ebb8";
}
.icon-wuerth-xing-outline:before {
  content: "\ebb9";
}
.icon-wuerth-xing-solid:before {
  content: "\ebba";
}
.icon-wuerth-xing:before {
  content: "\ebd6";
}
.icon-wuerth-youtube-outline:before {
  content: "\ea25";
}
.icon-wuerth-youtube-solid:before {
  content: "\ebdc";
}
.icon-wuerth-youtube:before {
  content: "\ebe0";
}
.icon-interface-logout-a:before {
  content: "\eb01";
}
.icon-wuerth-facebook-messenger:before {
  content: "\e98b";
}
.icon-wuerth-newsletter:before {
  content: "\e9e1";
}
.icon-wuerth-user-lupe:before {
  content: "\ea13";
}
.icon-wuerth-warenkorb-fragezeichen:before {
  content: "\ea16";
}
.icon-wuerth-whatsapp:before {
  content: "\ea23";
}
.icon-interface-heart:before {
  content: "\eaf2";
}
.icon-wuerth-artikel-zu-favoriten-hinzufuegen:before {
  content: "\e929";
}
.icon-wuerth-favourite-solid:before {
  content: "\e903";
}
.icon-cyid82:before {
  content: "\ec91";
}
.icon-cyid23:before {
  content: "\e92b";
}
.icon-cyid66:before {
  content: "\e92d";
}
.icon-smiley-a1:before {
  content: "\e93d";
}
.icon-smiley-a2:before {
  content: "\1cf2";
}
.icon-smiley-a3:before {
  content: "\e95f";
}
.icon-smiley-a4:before {
  content: "\e967";
}
.icon-smiley-a5:before {
  content: "\e97b";
}
.icon-wuerth-haeufig-bestellt:before {
  content: "\e90d";
}
.icon-wuerth-nicht-angetroffen:before {
  content: "\ebfa";
}
.icon-wuerth-kein-bedarf:before {
  content: "\ebf9";
}
.icon-wuerth-nicht-besucht:before {
  content: "\ebfb";
}
.icon-wuerth-rueckmeldung-hinzufuegen:before {
  content: "\ebfc";
}
.icon-wuerth-termin-verschoben:before {
  content: "\ebfd";
}
.icon-beverage-alt-glass:before {
  content: "\e9cb";
}
.icon-beverage-alt-glass-a:before {
  content: "\e9cd";
}
.icon-beverage-alt-glass-b:before {
  content: "\e9cf";
}
.icon-beverage-alt-glass-c:before {
  content: "\e9d1";
}
.icon-beverage-beer:before {
  content: "\e9d2";
}
.icon-beverage-chinese-tea:before {
  content: "\e9d3";
}
.icon-beverage-chinese-tea-a:before {
  content: "\e9d4";
}
.icon-beverage-chinese-tea-a-s:before {
  content: "\e9d5";
}
.icon-beverage-chinese-tea-s:before {
  content: "\e9d6";
}
.icon-beverage-cocktail-a:before {
  content: "\e988";
}
.icon-beverage-coffee:before {
  content: "\e989";
}
.icon-beverage-coffee-a:before {
  content: "\e98a";
}
.icon-beverage-coffee-cup:before {
  content: "\e98c";
}
.icon-beverage-coffee-cup-a:before {
  content: "\e98d";
}
.icon-beverage-cokctail:before {
  content: "\e98e";
}
.icon-beverage-cup-straw:before {
  content: "\e98f";
}
.icon-beverage-empty-glass:before {
  content: "\e990";
}
.icon-beverage-milk:before {
  content: "\e991";
}
.icon-beverage-milk-a:before {
  content: "\e992";
}
.icon-beverage-tea:before {
  content: "\e993";
}
.icon-beverage-tea-a:before {
  content: "\e994";
}
.icon-beverage-tea-cup:before {
  content: "\e995";
}
.icon-beverage-tea-cup-a:before {
  content: "\e996";
}
.icon-beverage-water:before {
  content: "\e997";
}
.icon-beverage-water-a:before {
  content: "\e998";
}
.icon-beverage-water-glass:before {
  content: "\e999";
}
.icon-beverage-wine:before {
  content: "\e99a";
}
.icon-building-apartment:before {
  content: "\e97e";
}
.icon-building-bed:before {
  content: "\e97f";
}
.icon-building-bulb:before {
  content: "\e980";
}
.icon-building-cabinet:before {
  content: "\e981";
}
.icon-building-desk:before {
  content: "\e982";
}
.icon-building-desk-a:before {
  content: "\e983";
}
.icon-building-desk-b:before {
  content: "\e984";
}
.icon-building-desk-c:before {
  content: "\e985";
}
.icon-building-door:before {
  content: "\e986";
}
.icon-building-drawer:before {
  content: "\e987";
}
.icon-building-drawer-a:before {
  content: "\e961";
}
.icon-building-house:before {
  content: "\e962";
}
.icon-building-house-a:before {
  content: "\e963";
}
.icon-building-museum:before {
  content: "\e964";
}
.icon-building-office:before {
  content: "\e965";
}
.icon-building-office-a:before {
  content: "\e966";
}
.icon-building-office-b:before {
  content: "\e923";
}
.icon-building-sofa:before {
  content: "\e968";
}
.icon-building-sofa-a:before {
  content: "\e969";
}
.icon-building-sofa-b:before {
  content: "\e96a";
}
.icon-building-sofa-twin:before {
  content: "\e96b";
}
.icon-building-sofa-twin-a:before {
  content: "\e96c";
}
.icon-building-table-lamp:before {
  content: "\e96d";
}
.icon-building-table-lamp-a:before {
  content: "\e96e";
}
.icon-building-tower:before {
  content: "\e96f";
}
.icon-building-tree:before {
  content: "\e970";
}
.icon-business-tie:before {
  content: "\e8b1";
}
.icon-business-tie-a:before {
  content: "\e8b2";
}
.icon-business-tie-b:before {
  content: "\e8b3";
}
.icon-com-bell:before {
  content: "\e839";
}
.icon-com-bell-a:before {
  content: "\e83a";
}
.icon-com-broadcast:before {
  content: "\e83b";
}
.icon-com-broadcast-a:before {
  content: "\e83c";
}
.icon-com-bubble:before {
  content: "\e83d";
}
.icon-com-bubble-a:before {
  content: "\e83e";
}
.icon-com-bubble-b:before {
  content: "\e83f";
}
.icon-com-bubble-dot:before {
  content: "\e840";
}
.icon-com-bubble-dot-a:before {
  content: "\e841";
}
.icon-com-bubble-dot-b:before {
  content: "\e814";
}
.icon-com-bubble-line:before {
  content: "\e815";
}
.icon-com-bubble-line-a:before {
  content: "\e816";
}
.icon-com-bubble-line-b:before {
  content: "\e817";
}
.icon-com-chat:before {
  content: "\e818";
}
.icon-com-check-box:before {
  content: "\e819";
}
.icon-com-email:before {
  content: "\e81a";
}
.icon-com-email-cross:before {
  content: "\e81c";
}
.icon-com-email-minus:before {
  content: "\e81e";
}
.icon-com-email-o:before {
  content: "\e81d";
}
.icon-com-email-plus:before {
  content: "\e820";
}
.icon-com-email-tick:before {
  content: "\e821";
}
.icon-com-envelope:before {
  content: "\e822";
}
.icon-com-feather-pen:before {
  content: "\e823";
}
.icon-com-fountain-pen:before {
  content: "\e824";
}
.icon-com-group-bubble:before {
  content: "\e825";
}
.icon-com-group-bubble-a:before {
  content: "\e826";
}
.icon-com-group-bubble-b:before {
  content: "\e827";
}
.icon-com-group-bubble-c:before {
  content: "\e829";
}
.icon-com-group-bubble-d:before {
  content: "\e82a";
}
.icon-com-help:before {
  content: "\e82b";
}
.icon-com-help-a:before {
  content: "\e82d";
}
.icon-com-megaphone:before {
  content: "\e82e";
}
.icon-com-megaphone-a:before {
  content: "\e830";
}
.icon-com-mic:before {
  content: "\e82c";
}
.icon-com-mic-mute:before {
  content: "\e832";
}
.icon-com-paperplane:before {
  content: "\e833";
}
.icon-com-phone:before {
  content: "\e82f";
}
.icon-com-phone-a:before {
  content: "\e835";
}
.icon-com-pictures:before {
  content: "\e836";
}
.icon-com-voicemail:before {
  content: "\e837";
}
.icon-cyid05:before {
  content: "\e90c";
}
.icon-cyid07:before {
  content: "\ea2f";
}
.icon-cyid10:before {
  content: "\e909";
}
.icon-cyid15:before {
  content: "\e90e";
}
.icon-cyid20:before {
  content: "\e90f";
}
.icon-cyid21:before {
  content: "\e91f";
}
.icon-cyid22:before {
  content: "\e91d";
}
.icon-cyid25:before {
  content: "\e911";
}
.icon-cyid30:before {
  content: "\e912";
}
.icon-cyid35:before {
  content: "\e920";
}
.icon-cyid40:before {
  content: "\e910";
}
.icon-cyid45:before {
  content: "\e913";
}
.icon-cyid50:before {
  content: "\e91a";
}
.icon-cyid55:before {
  content: "\e914";
}
.icon-cyid56:before {
  content: "\e915";
}
.icon-cyid60:before {
  content: "\e916";
}
.icon-cyid61:before {
  content: "\e91c";
}
.icon-cyid65:before {
  content: "\e917";
}
.icon-cyid67:before {
  content: "\ebf6";
}
.icon-cyid70:before {
  content: "\e919";
}
.icon-cyid75:before {
  content: "\e91b";
}
.icon-cyid80:before {
  content: "\e91e";
}
.icon-cyid85:before {
  content: "\e918";
}
.icon-cyid95:before {
  content: "\e921";
}
.icon-doc-analytic-bar:before {
  content: "\e8b4";
}
.icon-doc-analytic-blank:before {
  content: "\e842";
}
.icon-doc-analytic-line:before {
  content: "\e843";
}
.icon-doc-analytic-line-a:before {
  content: "\e844";
}
.icon-doc-article:before {
  content: "\e845";
}
.icon-doc-article-a:before {
  content: "\e846";
}
.icon-doc-article-b:before {
  content: "\e847";
}
.icon-doc-attachment:before {
  content: "\e848";
}
.icon-doc-attachment-a:before {
  content: "\e849";
}
.icon-doc-binder-blank:before {
  content: "\e84b";
}
.icon-doc-binder-four:before {
  content: "\e84c";
}
.icon-doc-binder-one:before {
  content: "\e84d";
}
.icon-doc-binder-three:before {
  content: "\e84e";
}
.icon-doc-binder-two:before {
  content: "\e84f";
}
.icon-doc-binder-zero:before {
  content: "\e850";
}
.icon-doc-book:before {
  content: "\e84a";
}
.icon-doc-book-a:before {
  content: "\e852";
}
.icon-doc-book-b:before {
  content: "\e853";
}
.icon-doc-book-c:before {
  content: "\e854";
}
.icon-doc-book-d:before {
  content: "\e855";
}
.icon-doc-bookmark:before {
  content: "\e856";
}
.icon-doc-book-mark:before {
  content: "\e857";
}
.icon-doc-box:before {
  content: "\e859";
}
.icon-doc-briefcase:before {
  content: "\e85a";
}
.icon-doc-briefcase-a:before {
  content: "\e85b";
}
.icon-doc-briefcase-b:before {
  content: "\e85c";
}
.icon-doc-briefcase-c:before {
  content: "\e85d";
}
.icon-doc-briefcase-d:before {
  content: "\e85e";
}
.icon-doc-compose:before {
  content: "\e85f";
}
.icon-doc-compose-a:before {
  content: "\e860";
}
.icon-doc-documents:before {
  content: "\e861";
}
.icon-doc-documents-minus:before {
  content: "\e862";
}
.icon-doc-documents-plus:before {
  content: "\e863";
}
.icon-doc-download:before {
  content: "\e864";
}
.icon-doc-drawer:before {
  content: "\e865";
}
.icon-doc-drawer-a:before {
  content: "\e866";
}
.icon-doc-drawer-b:before {
  content: "\e867";
}
.icon-doc-drawer-blank:before {
  content: "\e868";
}
.icon-doc-drawer-download:before {
  content: "\e869";
}
.icon-doc-drawer-line:before {
  content: "\e86b";
}
.icon-doc-drawer-upload:before {
  content: "\e86c";
}
.icon-doc-envelope:before {
  content: "\e86d";
}
.icon-doc-file-blank:before {
  content: "\e86f";
}
.icon-doc-file-blank-a:before {
  content: "\e870";
}
.icon-doc-file-cross:before {
  content: "\e872";
}
.icon-doc-file-cross-a:before {
  content: "\e873";
}
.icon-doc-file-line:before {
  content: "\e874";
}
.icon-doc-file-line-a:before {
  content: "\e875";
}
.icon-doc-file-minus:before {
  content: "\e876";
}
.icon-doc-file-minus-a:before {
  content: "\e877";
}
.icon-doc-file-plus:before {
  content: "\e878";
}
.icon-doc-file-plus-a:before {
  content: "\e879";
}
.icon-doc-file-stack:before {
  content: "\e87a";
}
.icon-doc-file-tick:before {
  content: "\e87b";
}
.icon-doc-file-tick-a:before {
  content: "\e87c";
}
.icon-doc-folder:before {
  content: "\e87d";
}
.icon-doc-folder-a:before {
  content: "\e87e";
}
.icon-doc-folder-check-a:before {
  content: "\e87f";
}
.icon-doc-folder-cross:before {
  content: "\e880";
}
.icon-doc-folder-cross-a:before {
  content: "\e881";
}
.icon-doc-folder-minus:before {
  content: "\e882";
}
.icon-doc-folder-minus-a:before {
  content: "\e883";
}
.icon-doc-folder-plus:before {
  content: "\e884";
}
.icon-doc-folder-plus-a:before {
  content: "\e885";
}
.icon-doc-folder-s:before {
  content: "\e886";
}
.icon-doc-folder-sync:before {
  content: "\e887";
}
.icon-doc-folder-tick:before {
  content: "\e888";
}
.icon-doc-list:before {
  content: "\e889";
}
.icon-doc-news:before {
  content: "\e88a";
}
.icon-doc-newspaper:before {
  content: "\e88b";
}
.icon-doc-newspaper-a:before {
  content: "\e88c";
}
.icon-doc-newspaper-b:before {
  content: "\e88d";
}
.icon-doc-notebook:before {
  content: "\e88e";
}
.icon-doc-notebook-a:before {
  content: "\e890";
}
.icon-doc-note-pen:before {
  content: "\e891";
}
.icon-doc-paper-line:before {
  content: "\e892";
}
.icon-doc-papers:before {
  content: "\e893";
}
.icon-doc-paper-stack:before {
  content: "\e896";
}
.icon-doc-photo-stack:before {
  content: "\e897";
}
.icon-doc-pie:before {
  content: "\e898";
}
.icon-doc-pie-a:before {
  content: "\e899";
}
.icon-doc-pie-b:before {
  content: "\e89a";
}
.icon-doc-pin:before {
  content: "\e89b";
}
.icon-doc-pin-a:before {
  content: "\e89c";
}
.icon-doc-print:before {
  content: "\e88f";
}
.icon-doc-print-a:before {
  content: "\e89e";
}
.icon-doc-profile:before {
  content: "\e89f";
}
.icon-doc-profile-a:before {
  content: "\e8a0";
}
.icon-doc-upload:before {
  content: "\e8a1";
}
.icon-doc-wboard-line:before {
  content: "\e894";
}
.icon-doc-wboard-tick:before {
  content: "\e895";
}
.icon-ecommerce-backpack:before {
  content: "\e8f7";
}
.icon-ecommerce-backpack-a:before {
  content: "\e8f8";
}
.icon-ecommerce-bag:before {
  content: "\e8f9";
}
.icon-ecommerce-bag-a:before {
  content: "\e8fa";
}
.icon-ecommerce-bag-b:before {
  content: "\e8fb";
}
.icon-ecommerce-basket:before {
  content: "\e8b5";
}
.icon-ecommerce-bill:before {
  content: "\e8b6";
}
.icon-ecommerce-bill-a:before {
  content: "\e8b7";
}
.icon-ecommerce-bill-b:before {
  content: "\e8b8";
}
.icon-ecommerce-bowtie:before {
  content: "\e8b9";
}
.icon-ecommerce-cash:before {
  content: "\e8ba";
}
.icon-ecommerce-cash-a:before {
  content: "\e8bb";
}
.icon-ecommerce-coins:before {
  content: "\e8bc";
}
.icon-ecommerce-coins-a:before {
  content: "\e8bd";
}
.icon-ecommerce-creditcard:before {
  content: "\e8be";
}
.icon-ecommerce-creditcard-b:before {
  content: "\e8bf";
}
.icon-ecommerce-creditcard-c:before {
  content: "\e8c0";
}
.icon-ecommerce-creditcard-d:before {
  content: "\e8c1";
}
.icon-ecommerce-diamon:before {
  content: "\e8c2";
}
.icon-ecommerce-digital-download:before {
  content: "\e8c3";
}
.icon-ecommerce-digital-upload:before {
  content: "\e8c4";
}
.icon-ecommerce-dollar:before {
  content: "\e8c5";
}
.icon-ecommerce-euro:before {
  content: "\e8c6";
}
.icon-ecommerce-gift:before {
  content: "\e8c7";
}
.icon-ecommerce-hanger:before {
  content: "\e8c9";
}
.icon-ecommerce-jeans:before {
  content: "\e8ca";
}
.icon-ecommerce-lipstick:before {
  content: "\e8cb";
}
.icon-ecommerce-market:before {
  content: "\e8cc";
}
.icon-ecommerce-mastercard:before {
  content: "\e8cd";
}
.icon-ecommerce-pack:before {
  content: "\e8cf";
}
.icon-ecommerce-pack-a:before {
  content: "\e8d0";
}
.icon-ecommerce-pounds:before {
  content: "\e8d1";
}
.icon-ecommerce-ring:before {
  content: "\e8d2";
}
.icon-ecommerce-safebox:before {
  content: "\e8d3";
}
.icon-ecommerce-shirt:before {
  content: "\e8d4";
}
.icon-ecommerce-shirt-a:before {
  content: "\e8d5";
}
.icon-ecommerce-shoes:before {
  content: "\e8d7";
}
.icon-ecommerce-shop:before {
  content: "\e8d9";
}
.icon-ecommerce-shopcart:before {
  content: "\e8c8";
}
.icon-ecommerce-shopcart-download:before {
  content: "\e8ce";
}
.icon-ecommerce-shopcart-fill:before {
  content: "\e8e1";
}
.icon-ecommerce-short:before {
  content: "\e8e2";
}
.icon-ecommerce-suitcase:before {
  content: "\e8e3";
}
.icon-ecommerce-suitcase-a:before {
  content: "\e8e4";
}
.icon-ecommerce-tag:before {
  content: "\e8e5";
}
.icon-ecommerce-tag-a:before {
  content: "\e8e6";
}
.icon-ecommerce-tag-a-s:before {
  content: "\e8e7";
}
.icon-ecommerce-tag-b:before {
  content: "\e8e8";
}
.icon-ecommerce-tag-b-s:before {
  content: "\e8e9";
}
.icon-ecommerce-tag-c:before {
  content: "\e8d8";
}
.icon-ecommerce-tag-cross:before {
  content: "\e8eb";
}
.icon-ecommerce-tag-c-s:before {
  content: "\e8ec";
}
.icon-ecommerce-tag-minus:before {
  content: "\e8ed";
}
.icon-ecommerce-tag-plus:before {
  content: "\e8ee";
}
.icon-ecommerce-tag-tick:before {
  content: "\e8ef";
}
.icon-ecommerce-tracking:before {
  content: "\e8f1";
}
.icon-ecommerce-tshirt:before {
  content: "\e8f2";
}
.icon-ecommerce-wallet:before {
  content: "\e8f3";
}
.icon-ecommerce-wallet-a:before {
  content: "\e8f4";
}
.icon-ecommerce-woman-bag:before {
  content: "\e8f5";
}
.icon-ecommerce-yen:before {
  content: "\e8f6";
}
.icon-editorial-ascending:before {
  content: "\e955";
}
.icon-editorial-bookmark:before {
  content: "\e956";
}
.icon-editorial-bookmark-a:before {
  content: "\e957";
}
.icon-editorial-brush:before {
  content: "\e958";
}
.icon-editorial-center-align:before {
  content: "\e959";
}
.icon-editorial-compose:before {
  content: "\e95a";
}
.icon-editorial-descending:before {
  content: "\e95b";
}
.icon-editorial-left-align:before {
  content: "\e95c";
}
.icon-editorial-pen:before {
  content: "\e95d";
}
.icon-editorial-pencil:before {
  content: "\e95e";
}
.icon-editorial-pencil-a:before {
  content: "\e8fe";
}
.icon-editorial-pencil-a-s:before {
  content: "\e960";
}
.icon-editorial-pencil-s:before {
  content: "\e8fc";
}
.icon-editorial-pen-s:before {
  content: "\e8fd";
}
.icon-editorial-redo:before {
  content: "\e8ff";
}
.icon-editorial-right-align:before {
  content: "\e94c";
}
.icon-editorial-trash:before {
  content: "\e94d";
}
.icon-editorial-trash-a:before {
  content: "\e94e";
}
.icon-editorial-trash-a-l:before {
  content: "\e94f";
}
.icon-editorial-trash-l:before {
  content: "\e951";
}
.icon-editorial-undo:before {
  content: "\e952";
}
.icon-editorial-write:before {
  content: "\e953";
}
.icon-editorial-write-s:before {
  content: "\e954";
}
.icon-environment-flower:before {
  content: "\e971";
}
.icon-environment-flower-a:before {
  content: "\e972";
}
.icon-environment-flower-b:before {
  content: "\e973";
}
.icon-environment-leaf:before {
  content: "\e974";
}
.icon-environment-leaf-a:before {
  content: "\e975";
}
.icon-environment-mountain:before {
  content: "\e976";
}
.icon-environment-mountain-a:before {
  content: "\e978";
}
.icon-environment-no-smoke:before {
  content: "\e979";
}
.icon-environment-plant:before {
  content: "\e97a";
}
.icon-environment-sign:before {
  content: "\e927";
}
.icon-environment-smoke:before {
  content: "\e97c";
}
.icon-environment-tree:before {
  content: "\e97d";
}
.icon-food-apple:before {
  content: "\e99b";
}
.icon-food-bowl:before {
  content: "\e99c";
}
.icon-food-cherry:before {
  content: "\e99e";
}
.icon-food-cherry-a:before {
  content: "\e99f";
}
.icon-food-chinese-food:before {
  content: "\e9a0";
}
.icon-food-chinese-food-a:before {
  content: "\e9a2";
}
.icon-food-chinese-food-b:before {
  content: "\e9a3";
}
.icon-food-drumstick:before {
  content: "\e9a4";
}
.icon-food-egg:before {
  content: "\e9a5";
}
.icon-food-grape:before {
  content: "\e9a6";
}
.icon-food-hamburger:before {
  content: "\e9a7";
}
.icon-food-hamburger-a:before {
  content: "\e9a8";
}
.icon-food-ice-cream:before {
  content: "\e9a9";
}
.icon-food-ice-cream-a:before {
  content: "\e9aa";
}
.icon-food-ice-cream-b:before {
  content: "\e9ab";
}
.icon-food-ice-cream-c:before {
  content: "\e9ac";
}
.icon-food-noodle:before {
  content: "\e9af";
}
.icon-food-noodle-a:before {
  content: "\e9b1";
}
.icon-food-onigiri:before {
  content: "\e9b2";
}
.icon-food-onigiri-a:before {
  content: "\e9b3";
}
.icon-food-white-bread:before {
  content: "\e9b4";
}
.icon-interface-alt-cross:before {
  content: "\ebcf";
}
.icon-interface-alt-fullscreen:before {
  content: "\ebd0";
}
.icon-interface-alt-minus:before {
  content: "\ebd1";
}
.icon-interface-alt-plus:before {
  content: "\ebd2";
}
.icon-interface-alt-tick:before {
  content: "\ebd3";
}
.icon-interface-alt-widescreen:before {
  content: "\ebd4";
}
.icon-interface-arrow-all:before {
  content: "\ebd5";
}
.icon-interface-arrow-bottom:before {
  content: "\eb45";
}
.icon-interface-arrow-bottom-circle:before {
  content: "\ebd7";
}
.icon-interface-arrow-left:before {
  content: "\eb47";
}
.icon-interface-arrow-left-b:before {
  content: "\ebd9";
}
.icon-interface-arrow-left-circle:before {
  content: "\ebda";
}
.icon-interface-arrow-left-t:before {
  content: "\ebdb";
}
.icon-interface-arrow-right:before {
  content: "\eb4b";
}
.icon-interface-arrow-right-b:before {
  content: "\ebdd";
}
.icon-interface-arrow-right-circle:before {
  content: "\ebde";
}
.icon-interface-arrow-right-t:before {
  content: "\ebdf";
}
.icon-interface-arrow-top:before {
  content: "\eb4f";
}
.icon-interface-arrow-top-circle:before {
  content: "\ebe1";
}
.icon-interface-backspace:before {
  content: "\eb55";
}
.icon-interface-backspace-a:before {
  content: "\eb56";
}
.icon-interface-bell:before {
  content: "\eb57";
}
.icon-interface-bell-a:before {
  content: "\eb58";
}
.icon-interface-block:before {
  content: "\eb59";
}
.icon-interface-bottom:before {
  content: "\eac5";
}
.icon-interface-bottom-k:before {
  content: "\eb5b";
}
.icon-interface-bottom-r:before {
  content: "\eac7";
}
.icon-interface-box-bottom:before {
  content: "\eb5d";
}
.icon-interface-box-bottom-a:before {
  content: "\eb5e";
}
.icon-interface-box-cross:before {
  content: "\eb5f";
}
.icon-interface-box-left:before {
  content: "\eb60";
}
.icon-interface-box-left-a:before {
  content: "\eb61";
}
.icon-interface-box-minus:before {
  content: "\eb62";
}
.icon-interface-box-plus:before {
  content: "\eb63";
}
.icon-interface-box-right:before {
  content: "\eb64";
}
.icon-interface-box-right-a:before {
  content: "\eb65";
}
.icon-interface-box-tick:before {
  content: "\eb66";
}
.icon-interface-box-top:before {
  content: "\eb67";
}
.icon-interface-box-top-a:before {
  content: "\eb68";
}
.icon-interface-bulleye:before {
  content: "\eb69";
}
.icon-interface-calendar:before {
  content: "\eb6a";
}
.icon-interface-circle:before {
  content: "\eb6b";
}
.icon-interface-circle-cross:before {
  content: "\eb6c";
}
.icon-interface-circle-minus:before {
  content: "\eb6d";
}
.icon-interface-circle-plus:before {
  content: "\eb6e";
}
.icon-interface-circle-tick:before {
  content: "\eb6f";
}
.icon-interface-circle-tick-a:before {
  content: "\eb70";
}
.icon-interface-clock:before {
  content: "\eb71";
}
.icon-interface-clock-a:before {
  content: "\eb72";
}
.icon-interface-clock-b:before {
  content: "\eb73";
}
.icon-interface-cloud-download:before {
  content: "\eb74";
}
.icon-interface-cloud-upload:before {
  content: "\eb75";
}
.icon-interface-cmd:before {
  content: "\1cd3";
}
.icon-interface-crop:before {
  content: "\eb77";
}
.icon-interface-cross:before {
  content: "\eae3";
}
.icon-interface-dashboard:before {
  content: "\eb79";
}
.icon-interface-diag:before {
  content: "\ebe5";
}
.icon-interface-diag-a:before {
  content: "\ebe6";
}
.icon-interface-direction:before {
  content: "\eae7";
}
.icon-interface-downloading:before {
  content: "\eb7b";
}
.icon-interface-enlarge:before {
  content: "\eb7c";
}
.icon-interface-enlarge-a:before {
  content: "\eb7d";
}
.icon-interface-enlarge-c:before {
  content: "\eb7e";
}
.icon-interface-expand:before {
  content: "\eb7f";
}
.icon-interface-forward:before {
  content: "\eb80";
}
.icon-interface-fullscreen:before {
  content: "\eb81";
}
.icon-interface-fullscreen-a:before {
  content: "\eb82";
}
.icon-interface-fullscreen-wide:before {
  content: "\eb83";
}
.icon-interface-hamburger:before {
  content: "\eaf1";
}
.icon-interface-help:before {
  content: "\eb86";
}
.icon-interface-help-a:before {
  content: "\eb87";
}
.icon-interface-home:before {
  content: "\eaf5";
}
.icon-interface-home-a:before {
  content: "\eb89";
}
.icon-interface-horizontal:before {
  content: "\eb8a";
}
.icon-interface-horizontal-a-1:before {
  content: "\ebe3";
}
.icon-interface-in-link:before {
  content: "\eb8b";
}
.icon-interface-left:before {
  content: "\eafa";
}
.icon-interface-left-b-k:before {
  content: "\eb8d";
}
.icon-interface-left-k:before {
  content: "\eb8e";
}
.icon-interface-left-r:before {
  content: "\eafd";
}
.icon-interface-left-t-k:before {
  content: "\eb90";
}
.icon-interface-list-view:before {
  content: "\e949";
}
.icon-interface-login:before {
  content: "\eb92";
}
.icon-interface-minimize:before {
  content: "\eb94";
}
.icon-interface-minus:before {
  content: "\eb95";
}
.icon-interface-more:before {
  content: "\eb96";
}
.icon-interface-number:before {
  content: "\eb97";
}
.icon-interface-out-link:before {
  content: "\eb98";
}
.icon-interface-pixel:before {
  content: "\eb99";
}
.icon-interface-places:before {
  content: "\eb08";
}
.icon-interface-places-a:before {
  content: "\eb9b";
}
.icon-interface-plus:before {
  content: "\eb0a";
}
.icon-interface-popup:before {
  content: "\eb9d";
}
.icon-interface-power:before {
  content: "\eb0c";
}
.icon-interface-refresh:before {
  content: "\eb9f";
}
.icon-interface-repeating:before {
  content: "\eba0";
}
.icon-interface-reply:before {
  content: "\eba1";
}
.icon-interface-resize-full:before {
  content: "\eba2";
}
.icon-interface-resize-full-a:before {
  content: "\eba3";
}
.icon-interface-resize-normal:before {
  content: "\eba4";
}
.icon-interface-reverse:before {
  content: "\eba5";
}
.icon-interface-right:before {
  content: "\eb14";
}
.icon-interface-right-k:before {
  content: "\eba7";
}
.icon-interface-right-r:before {
  content: "\eb16";
}
.icon-interface-right-b-k:before {
  content: "\eba9";
}
.icon-interface-right-t-k:before {
  content: "\ebaa";
}
.icon-interface-search:before {
  content: "\ebab";
}
.icon-interface-search-cross:before {
  content: "\ebac";
}
.icon-interface-search-list:before {
  content: "\ebf8";
}
.icon-interface-search-minus:before {
  content: "\ebad";
}
.icon-interface-search-plus:before {
  content: "\ebae";
}
.icon-interface-search-tick:before {
  content: "\ebaf";
}
.icon-interface-sidebar-hamburger:before {
  content: "\ebb0";
}
.icon-interface-star:before {
  content: "\ebb1";
}
.icon-interface-star-a:before {
  content: "\ebb2";
}
.icon-interface-target:before {
  content: "\ebb3";
}
.icon-interface-thumbnail:before {
  content: "\ebb4";
}
.icon-interface-tick:before {
  content: "\eb23";
}
.icon-interface-top:before {
  content: "\eb24";
}
.icon-interface-top-k:before {
  content: "\ebb7";
}
.icon-interface-top-r:before {
  content: "\eb26";
}
.icon-interface-undo:before {
  content: "\eb27";
}
.icon-interface-uploading:before {
  content: "\eb28";
}
.icon-interface-vertical:before {
  content: "\ebbb";
}
.icon-interface-vertical-a-1:before {
  content: "\ebe4";
}
.icon-interface-view:before {
  content: "\ebbc";
}
.icon-interface-warning:before {
  content: "\ebbd";
}
.icon-interface-window:before {
  content: "\ebbe";
}
.icon-kitchen-fork-knife:before {
  content: "\e9b5";
}
.icon-kitchen-fork-knife-a:before {
  content: "\e950";
}
.icon-kitchen-fridge:before {
  content: "\e9b6";
}
.icon-kitchen-grill:before {
  content: "\e9b7";
}
.icon-kitchen-heat:before {
  content: "\e9b8";
}
.icon-kitchen-heat-a:before {
  content: "\e9b9";
}
.icon-kitchen-hood:before {
  content: "\e9ba";
}
.icon-kitchen-hood-a:before {
  content: "\e9bb";
}
.icon-kitchen-jam:before {
  content: "\e9bc";
}
.icon-kitchen-ketchup:before {
  content: "\e9bd";
}
.icon-kitchen-leaf:before {
  content: "\e9bf";
}
.icon-kitchen-microwave:before {
  content: "\e9c1";
}
.icon-kitchen-pepper:before {
  content: "\e9c2";
}
.icon-kitchen-plate:before {
  content: "\e9c3";
}
.icon-kitchen-recipe-book:before {
  content: "\e9c4";
}
.icon-kitchen-salt:before {
  content: "\e9c5";
}
.icon-kitchen-spatula:before {
  content: "\e9c6";
}
.icon-kitchen-spoon-fork:before {
  content: "\e9c7";
}
.icon-kitchen-spoon-fork-a:before {
  content: "\e9c8";
}
.icon-kitchen-tissue:before {
  content: "\e9c9";
}
.icon-kitchen-water:before {
  content: "\e9ca";
}
.icon-layout-footer:before {
  content: "\ebbf";
}
.icon-layout-grid:before {
  content: "\ebc0";
}
.icon-layout-half:before {
  content: "\ebc1";
}
.icon-layout-header:before {
  content: "\ebc2";
}
.icon-layout-sidebar-l:before {
  content: "\ebc3";
}
.icon-layout-sidebar-l-a:before {
  content: "\ebc4";
}
.icon-layout-sidebar-l-half:before {
  content: "\ebc5";
}
.icon-layout-sidebar-l-half-a:before {
  content: "\ebc6";
}
.icon-layout-sidebar-r:before {
  content: "\ebc7";
}
.icon-layout-sidebar-r-a:before {
  content: "\ebc8";
}
.icon-layout-sidebar-r-half:before {
  content: "\ebc9";
}
.icon-layout-sidebar-r-half-a:before {
  content: "\ebca";
}
.icon-layout-third-h:before {
  content: "\ebcb";
}
.icon-layout-third-v:before {
  content: "\ebcc";
}
.icon-layout-wireframe:before {
  content: "\ebcd";
}
.icon-layout-wireframe-a:before {
  content: "\ebce";
}
.icon-location-alt-pin:before {
  content: "\e9ae";
}
.icon-location-avenue:before {
  content: "\ea24";
}
.icon-location-compass:before {
  content: "\e9b0";
}
.icon-location-map:before {
  content: "\ea26";
}
.icon-location-pin:before {
  content: "\ea27";
}
.icon-location-pin-blank:before {
  content: "\ea28";
}
.icon-location-pin-check:before {
  content: "\ea29";
}
.icon-location-pin-map:before {
  content: "\ea2a";
}
.icon-location-pin-map-a:before {
  content: "\ea2b";
}
.icon-location-pin-minus:before {
  content: "\ea2c";
}
.icon-location-pin-plus:before {
  content: "\ea2d";
}
.icon-location-pin-regular:before {
  content: "\ea2e";
}
.icon-logo-amazon:before {
  content: "\eaea";
}
.icon-logo-dribbble:before {
  content: "\eaeb";
}
.icon-logo-dropbox:before {
  content: "\eaec";
}
.icon-logo-facebook:before {
  content: "\eaee";
}
.icon-logo-instagram:before {
  content: "\eaf0";
}
.icon-logo-linkedin:before {
  content: "\eaf3";
}
.icon-logo-musio:before {
  content: "\eaf4";
}
.icon-logo-paypal:before {
  content: "\eaf7";
}
.icon-logo-picasa:before {
  content: "\eaf8";
}
.icon-logo-pinterest:before {
  content: "\eaf9";
}
.icon-logo-rdio:before {
  content: "\eafb";
}
.icon-logo-squarespace:before {
  content: "\eafc";
}
.icon-logo-squareup:before {
  content: "\eafe";
}
.icon-logo-twitter:before {
  content: "\eaff";
}
.icon-media-glass:before {
  content: "\e8a4";
}
.icon-media-glass-a:before {
  content: "\e8a5";
}
.icon-media-image:before {
  content: "\e8a6";
}
.icon-media-image-a:before {
  content: "\e8a7";
}
.icon-media-image-b:before {
  content: "\e8a8";
}
.icon-media-image-c:before {
  content: "\e8a9";
}
.icon-media-image-d:before {
  content: "\e8aa";
}
.icon-media-negative:before {
  content: "\e8ab";
}
.icon-media-negative-a:before {
  content: "\e8ac";
}
.icon-media-video:before {
  content: "\e8ad";
}
.icon-media-video-a:before {
  content: "\e8ae";
}
.icon-media-video-clip:before {
  content: "\e8af";
}
.icon-media-video-r:before {
  content: "\e8b0";
}
.icon-medicine-heart:before {
  content: "\e9ec";
}
.icon-medicine-lab:before {
  content: "\e9ed";
}
.icon-medicine-lab-a:before {
  content: "\e9ee";
}
.icon-misc-crown:before {
  content: "\eb07";
}
.icon-misc-cube:before {
  content: "\eb09";
}
.icon-misc-dice-five:before {
  content: "\eb0b";
}
.icon-misc-dice-four:before {
  content: "\eb0d";
}
.icon-misc-dice-one:before {
  content: "\eb0e";
}
.icon-misc-dice-six:before {
  content: "\eb0f";
}
.icon-misc-dice-three:before {
  content: "\eb10";
}
.icon-misc-dice-two:before {
  content: "\eb11";
}
.icon-misc-double-click:before {
  content: "\eb12";
}
.icon-misc-female-gender:before {
  content: "\eb13";
}
.icon-misc-globe:before {
  content: "\eb15";
}
.icon-misc-male-gender:before {
  content: "\eb17";
}
.icon-misc-mood-happy:before {
  content: "\eb18";
}
.icon-misc-mood-sad:before {
  content: "\eb19";
}
.icon-misc-one-click:before {
  content: "\eb00";
}
.icon-misc-pointer:before {
  content: "\eb02";
}
.icon-misc-pointer-swipe-l:before {
  content: "\eb03";
}
.icon-misc-pointer-swipe-r:before {
  content: "\eb04";
}
.icon-misc-puzzle:before {
  content: "\eb05";
}
.icon-misc-wifi:before {
  content: "\eb06";
}
.icon-music-album:before {
  content: "\eb43";
}
.icon-music-album-a:before {
  content: "\eb44";
}
.icon-music-album-b:before {
  content: "\eb46";
}
.icon-music-album-c:before {
  content: "\eb48";
}
.icon-music-album-cd:before {
  content: "\eb49";
}
.icon-music-cd:before {
  content: "\eb4a";
}
.icon-music-eject:before {
  content: "\eb4c";
}
.icon-music-eq:before {
  content: "\eb4d";
}
.icon-music-eq-a:before {
  content: "\eb4e";
}
.icon-music-group-note:before {
  content: "\eb50";
}
.icon-music-group-note-a:before {
  content: "\eb51";
}
.icon-music-headphone:before {
  content: "\eb52";
}
.icon-music-headphone-a:before {
  content: "\eb53";
}
.icon-music-list:before {
  content: "\eb54";
}
.icon-music-mic:before {
  content: "\eb1a";
}
.icon-music-mic-a:before {
  content: "\eb1b";
}
.icon-music-next:before {
  content: "\eb1c";
}
.icon-music-next-l:before {
  content: "\eb1d";
}
.icon-music-next-l-a:before {
  content: "\1c3f";
}
.icon-music-pause:before {
  content: "\eb1e";
}
.icon-music-pause-a:before {
  content: "\eb20";
}
.icon-music-pause-b:before {
  content: "\eb21";
}
.icon-music-play:before {
  content: "\ea96";
}
.icon-music-playlist:before {
  content: "\eb25";
}
.icon-music-previous:before {
  content: "\eb29";
}
.icon-music-previous-l:before {
  content: "\eb2a";
}
.icon-music-previous-l-a:before {
  content: "\eb2b";
}
.icon-music-radio:before {
  content: "\eb2c";
}
.icon-music-record:before {
  content: "\eb2d";
}
.icon-music-record-a:before {
  content: "\eb2e";
}
.icon-music-repeat:before {
  content: "\eb2f";
}
.icon-music-repeat-a:before {
  content: "\eb30";
}
.icon-music-repeat-one:before {
  content: "\eb31";
}
.icon-music-repeat-one-a:before {
  content: "\eb32";
}
.icon-music-shuffle:before {
  content: "\eb33";
}
.icon-music-shuffle-a:before {
  content: "\eb34";
}
.icon-music-song-note:before {
  content: "\eb35";
}
.icon-music-song-note-a:before {
  content: "\eb36";
}
.icon-music-speaker:before {
  content: "\eb37";
}
.icon-music-speaker-a:before {
  content: "\eb38";
}
.icon-music-stop:before {
  content: "\eb39";
}
.icon-music-stop-a:before {
  content: "\eb3a";
}
.icon-setting-airplane:before {
  content: "\e9db";
}
.icon-setting-component:before {
  content: "\e9dc";
}
.icon-setting-eq:before {
  content: "\e9dd";
}
.icon-setting-eq-a:before {
  content: "\e9de";
}
.icon-setting-gear:before {
  content: "\e9df";
}
.icon-setting-gear-a:before {
  content: "\e9e0";
}
.icon-setting-gear-b:before {
  content: "\e977";
}
.icon-setting-hotspot:before {
  content: "\e9e2";
}
.icon-setting-notification:before {
  content: "\e9e3";
}
.icon-setting-switch:before {
  content: "\e9d7";
}
.icon-setting-switch-a:before {
  content: "\e9d8";
}
.icon-setting-wrench:before {
  content: "\e9d9";
}
.icon-setting-wrench-a:before {
  content: "\e9da";
}
.icon-sport-alt-badge:before {
  content: "\e9ef";
}
.icon-sport-alt-badge-a:before {
  content: "\e9f0";
}
.icon-sport-badge:before {
  content: "\e9f1";
}
.icon-sport-badge-a:before {
  content: "\e9f2";
}
.icon-sport-badge-b:before {
  content: "\e9f3";
}
.icon-sport-badge-c:before {
  content: "\e9f4";
}
.icon-sport-badge-one:before {
  content: "\e9f5";
}
.icon-sport-badge-one-a:before {
  content: "\e9f6";
}
.icon-sport-baseball:before {
  content: "\e9f7";
}
.icon-sport-basketball:before {
  content: "\e9f8";
}
.icon-sport-basketball-a:before {
  content: "\e9f9";
}
.icon-sport-bottle:before {
  content: "\e9fa";
}
.icon-sport-cards:before {
  content: "\e9fb";
}
.icon-sport-dumbell:before {
  content: "\e9fc";
}
.icon-sport-dumbell-a:before {
  content: "\e9fd";
}
.icon-sport-flag:before {
  content: "\e9fe";
}
.icon-sport-flag-a:before {
  content: "\e9ff";
}
.icon-sport-football:before {
  content: "\ea00";
}
.icon-sport-medic:before {
  content: "\ea01";
}
.icon-sport-mic:before {
  content: "\ea03";
}
.icon-sport-puzzle:before {
  content: "\ea04";
}
.icon-sport-stadium:before {
  content: "\ea05";
}
.icon-sport-stadium-a:before {
  content: "\ea07";
}
.icon-sport-tape:before {
  content: "\e9e4";
}
.icon-sport-tennisball:before {
  content: "\e9e5";
}
.icon-sport-time:before {
  content: "\e9e6";
}
.icon-sport-trophy:before {
  content: "\e9e7";
}
.icon-sport-trophy-a:before {
  content: "\e9e8";
}
.icon-sport-tv:before {
  content: "\e9ea";
}
.icon-sport-tv-a:before {
  content: "\e9eb";
}
.icon-time-alarm:before {
  content: "\ea08";
}
.icon-time-alt-wall-clock:before {
  content: "\ea09";
}
.icon-time-calendar:before {
  content: "\e99d";
}
.icon-time-calendar-a:before {
  content: "\ea10";
}
.icon-time-calendar-b:before {
  content: "\ea11";
}
.icon-time-clock:before {
  content: "\ea12";
}
.icon-time-clock-a:before {
  content: "\e9a1";
}
.icon-time-clock-b:before {
  content: "\ea14";
}
.icon-time-clock-c:before {
  content: "\ea15";
}
.icon-time-hour-glass:before {
  content: "\ea17";
}
.icon-time-speed-meter:before {
  content: "\ea18";
}
.icon-time-stopwatch:before {
  content: "\ea19";
}
.icon-time-stopwatch-a:before {
  content: "\ea1a";
}
.icon-time-stopwatch-b:before {
  content: "\ea1b";
}
.icon-time-timer:before {
  content: "\ea1c";
}
.icon-time-wall-clock:before {
  content: "\ea1d";
}
.icon-time-watches:before {
  content: "\ea1e";
}
.icon-time-watches-a:before {
  content: "\ea1f";
}
.icon-time-watches-b:before {
  content: "\ea21";
}
.icon-tool-alt-camera:before {
  content: "\ea59";
}
.icon-tool-alt-camera-a:before {
  content: "\ea5a";
}
.icon-tool-android:before {
  content: "\ea5b";
}
.icon-tool-android-l:before {
  content: "\ea5c";
}
.icon-tool-binoculars:before {
  content: "\ea5d";
}
.icon-tool-brush:before {
  content: "\ea5e";
}
.icon-tool-brush-a:before {
  content: "\ea5f";
}
.icon-tool-calculator:before {
  content: "\ea60";
}
.icon-tool-camera:before {
  content: "\ea61";
}
.icon-tool-camera-a:before {
  content: "\ea62";
}
.icon-tool-camera-b:before {
  content: "\e9e9";
}
.icon-tool-compass:before {
  content: "\ea63";
}
.icon-tool-console:before {
  content: "\ea30";
}
.icon-tool-console-a:before {
  content: "\ea31";
}
.icon-tool-console-old:before {
  content: "\ea32";
}
.icon-tool-disk:before {
  content: "\e9be";
}
.icon-tool-disk-a:before {
  content: "\ea34";
}
.icon-tool-flashlight:before {
  content: "\e9c0";
}
.icon-tool-flashlight-a:before {
  content: "\ea36";
}
.icon-tool-flashlight-a-s:before {
  content: "\ea37";
}
.icon-tool-flashlight-s:before {
  content: "\ea38";
}
.icon-tool-gameboy:before {
  content: "\ea39";
}
.icon-tool-hammer:before {
  content: "\ea3a";
}
.icon-tool-headphone:before {
  content: "\ea3b";
}
.icon-tool-headphone-a:before {
  content: "\ea3d";
}
.icon-tool-laptop:before {
  content: "\ea3e";
}
.icon-tool-magic-wand:before {
  content: "\ea40";
}
.icon-tool-magic-wand-a:before {
  content: "\ea41";
}
.icon-tool-magnet:before {
  content: "\ea42";
}
.icon-tool-magnifier:before {
  content: "\e9cc";
}
.icon-tool-medical-tape:before {
  content: "\ea44";
}
.icon-tool-mobile:before {
  content: "\e9ce";
}
.icon-tool-mobile-l:before {
  content: "\ea46";
}
.icon-tool-monitor:before {
  content: "\ea47";
}
.icon-tool-monitor-a:before {
  content: "\ea48";
}
.icon-tool-mouse:before {
  content: "\ea49";
}
.icon-tool-net:before {
  content: "\ea4b";
}
.icon-tool-paint-roler:before {
  content: "\ea4c";
}
.icon-tool-projector:before {
  content: "\ea4d";
}
.icon-tool-radio:before {
  content: "\ea4e";
}
.icon-tool-ruler:before {
  content: "\ea4f";
}
.icon-tool-scissor:before {
  content: "\ea50";
}
.icon-tool-tablet:before {
  content: "\ea51";
}
.icon-tool-tablet-l:before {
  content: "\ea53";
}
.icon-tool-television:before {
  content: "\ea54";
}
.icon-tool-toothbrush:before {
  content: "\ea55";
}
.icon-tool-umbrella:before {
  content: "\ea57";
}
.icon-tool-video:before {
  content: "\ea58";
}
.icon-transport-alt-bus:before {
  content: "\ea6a";
}
.icon-transport-bicycle:before {
  content: "\ea6b";
}
.icon-transport-bicycle-a:before {
  content: "\ea6c";
}
.icon-transport-boat:before {
  content: "\ea6d";
}
.icon-transport-bus:before {
  content: "\ea6e";
}
.icon-transport-bus-a:before {
  content: "\ea6f";
}
.icon-transport-car:before {
  content: "\ea70";
}
.icon-transport-car-a:before {
  content: "\ea71";
}
.icon-transport-car-b:before {
  content: "\ea64";
}
.icon-transport-car-c:before {
  content: "\ea65";
}
.icon-transport-ship:before {
  content: "\ea66";
}
.icon-transport-train:before {
  content: "\ea67";
}
.icon-transport-truck:before {
  content: "\ea68";
}
.icon-transport-truck-a:before {
  content: "\ea69";
}
.icon-user-alt:before {
  content: "\ea88";
}
.icon-user-alt-check:before {
  content: "\ea89";
}
.icon-user-alt-cross:before {
  content: "\ea8a";
}
.icon-user-alt-group:before {
  content: "\ea8b";
}
.icon-user-alt-list:before {
  content: "\ea8c";
}
.icon-user-alt-minus:before {
  content: "\ea8d";
}
.icon-user-alt-plus:before {
  content: "\ea8e";
}
.icon-user-contact-book:before {
  content: "\ea8f";
}
.icon-user-female:before {
  content: "\ea90";
}
.icon-user-female-cross:before {
  content: "\ea91";
}
.icon-user-female-group:before {
  content: "\ea92";
}
.icon-user-female-list:before {
  content: "\ea93";
}
.icon-user-female-minus:before {
  content: "\ea94";
}
.icon-user-female-plus:before {
  content: "\ea95";
}
.icon-user-female-sign:before {
  content: "\ea97";
}
.icon-user-female-tick:before {
  content: "\ea98";
}
.icon-user-key:before {
  content: "\ea99";
}
.icon-user-lock:before {
  content: "\ea20";
}
.icon-user-lock-u:before {
  content: "\ea9b";
}
.icon-user-lock-u-a:before {
  content: "\ea22";
}
.icon-user-male:before {
  content: "\ea72";
}
.icon-user-male-check:before {
  content: "\ea73";
}
.icon-user-male-cross:before {
  content: "\ea74";
}
.icon-user-male-minus:before {
  content: "\ea75";
}
.icon-user-male-plus:before {
  content: "\ea76";
}
.icon-user-male-sign:before {
  content: "\ea77";
}
.icon-user-password:before {
  content: "\ea78";
}
.icon-user-password-u:before {
  content: "\ea79";
}
.icon-user-password-u-a:before {
  content: "\ea7a";
}
.icon-user-single:before {
  content: "\ea02";
}
.icon-user-single-a:before {
  content: "\ea7c";
}
.icon-user-single-a-check:before {
  content: "\ea7d";
}
.icon-user-single-a-cross:before {
  content: "\ea7e";
}
.icon-user-single-a-group:before {
  content: "\ea06";
}
.icon-user-single-a-list:before {
  content: "\ea80";
}
.icon-user-single-a-minus:before {
  content: "\ea81";
}
.icon-user-single-a-plus:before {
  content: "\ea82";
}
.icon-user-single-check:before {
  content: "\ea0a";
}
.icon-user-single-cross:before {
  content: "\ea0b";
}
.icon-user-single-minus:before {
  content: "\ea0c";
}
.icon-user-single-plus:before {
  content: "\ea0d";
}
.icon-user-single-round:before {
  content: "\ea0e";
}
.icon-volume-high:before {
  content: "\eb3b";
}
.icon-volume-high-a:before {
  content: "\eb3c";
}
.icon-volume-low:before {
  content: "\eb3d";
}
.icon-volume-low-a:before {
  content: "\eb3e";
}
.icon-volume-medium:before {
  content: "\eb3f";
}
.icon-volume-medium-a:before {
  content: "\eb40";
}
.icon-volume-mute:before {
  content: "\eb41";
}
.icon-volume-mute-a:before {
  content: "\eb42";
}
.icon-weather-cloud:before {
  content: "\eaa1";
}
.icon-weather-cloud-a:before {
  content: "\eaa2";
}
.icon-weather-cloud-rainy:before {
  content: "\eaa3";
}
.icon-weather-cloud-rainy-a:before {
  content: "\eaa4";
}
.icon-weather-cloud-snow:before {
  content: "\eaa5";
}
.icon-weather-cloud-snow-a:before {
  content: "\eaa6";
}
.icon-weather-cloud-stormy:before {
  content: "\eaa7";
}
.icon-weather-cloud-stormy-a:before {
  content: "\eaa8";
}
.icon-weather-cloud-sun:before {
  content: "\eaa9";
}
.icon-weather-humid:before {
  content: "\eaaa";
}
.icon-weather-moon:before {
  content: "\eaab";
}
.icon-weather-moon-a:before {
  content: "\eaac";
}
.icon-weather-moon-b:before {
  content: "\eaad";
}
.icon-weather-moon-r:before {
  content: "\eaae";
}
.icon-weather-sun-a:before {
  content: "\eaaf";
}
.icon-weather-sun-b:before {
  content: "\eab0";
}
.icon-weather-sun-r:before {
  content: "\eab1";
}
.icon-weather-sunrise:before {
  content: "\eab2";
}
.icon-weather-sunset-a:before {
  content: "\ea9d";
}
.icon-weather-wind:before {
  content: "\ea9e";
}
.icon-weather-wind-pressure:before {
  content: "\ea9f";
}
.icon-weather-wind-pressure-a:before {
  content: "\eaa0";
}
.icon-web-broken-link:before {
  content: "\ead5";
}
.icon-web-browser:before {
  content: "\ead7";
}
.icon-web-browser-a:before {
  content: "\ead8";
}
.icon-web-browser-b:before {
  content: "\ead9";
}
.icon-web-browser-cross:before {
  content: "\eadb";
}
.icon-web-browser-minus:before {
  content: "\eadc";
}
.icon-web-browser-plus:before {
  content: "\eadd";
}
.icon-web-browser-tab:before {
  content: "\eade";
}
.icon-web-browser-tab-cross:before {
  content: "\eadf";
}
.icon-web-browser-tab-minus:before {
  content: "\eae0";
}
.icon-web-browser-tab-plus:before {
  content: "\eae1";
}
.icon-web-browser-tab-tick:before {
  content: "\eae2";
}
.icon-web-browser-tick:before {
  content: "\eae4";
}
.icon-web-browser-window:before {
  content: "\eae5";
}
.icon-web-bug:before {
  content: "\eab3";
}
.icon-web-code:before {
  content: "\eab4";
}
.icon-web-database:before {
  content: "\eab5";
}
.icon-web-download:before {
  content: "\ea3c";
}
.icon-web-graph:before {
  content: "\eab7";
}
.icon-web-inspect:before {
  content: "\eab8";
}
.icon-web-internet:before {
  content: "\ea3f";
}
.icon-web-internet-a:before {
  content: "\eaba";
}
.icon-web-logout:before {
  content: "\eabb";
}
.icon-web-menu-collapse-down:before {
  content: "\eabc";
}
.icon-web-menu-collapse-left:before {
  content: "\eabd";
}
.icon-web-menu-collapse-right:before {
  content: "\eabe";
}
.icon-web-menu-collapse-up:before {
  content: "\eabf";
}
.icon-web-reading-list:before {
  content: "\eac0";
}
.icon-web-report:before {
  content: "\eac1";
}
.icon-web-report-a:before {
  content: "\eac2";
}
.icon-web-rss:before {
  content: "\eac4";
}
.icon-web-share:before {
  content: "\ea4a";
}
.icon-web-share-a:before {
  content: "\eac8";
}
.icon-web-share-b:before {
  content: "\eac9";
}
.icon-web-statistic:before {
  content: "\eaca";
}
.icon-web-traffic:before {
  content: "\eacb";
}
.icon-web-traffic-a:before {
  content: "\eacc";
}
.icon-web-traffic-b:before {
  content: "\eacd";
}
.icon-web-traffic-c:before {
  content: "\eace";
}
.icon-web-upload:before {
  content: "\ea52";
}
.icon-web-url:before {
  content: "\ead0";
}
.icon-web-url-a:before {
  content: "\ead1";
}
.icon-web-url-b:before {
  content: "\ead2";
}
.icon-web-warning:before {
  content: "\ea56";
}
.icon-web-webcam:before {
  content: "\ead4";
}
.icon-wuerth-2d:before {
  content: "\e900";
}
.icon-wuerth-3d:before {
  content: "\e901";
}
.icon-wuerth-agb:before {
  content: "\e945";
}
.icon-wuerth-artikel-zu-bestellvorlage-hinzufuegen:before {
  content: "\e928";
}
.icon-wuerth-artikel-zur-vergleichsliste-hinzufuegen:before {
  content: "\e92a";
}
.icon-wuerth-auftragshistorie:before {
  content: "\ebf0";
}
.icon-wuerth-auftragstext:before {
  content: "\e902";
}
.icon-wuerth-ausrufezeichen:before {
  content: "\e94b";
}
.icon-wuerth-blog:before {
  content: "\e943";
}
.icon-wuerth-bluetooth:before {
  content: "\e948";
}
.icon-wuerth-datei-csv:before {
  content: "\e92c";
}
.icon-wuerth-datei-pdf:before {
  content: "\e92f";
}
.icon-wuerth-datei-pdf-logo:before {
  content: "\e92e";
}
.icon-wuerth-datei-txt:before {
  content: "\e930";
}
.icon-wuerth-datei-xls:before {
  content: "\e931";
}
.icon-wuerth-datei-xlsx:before {
  content: "\e93b";
}
.icon-wuerth-download:before {
  content: "\e93e";
}
.icon-wuerth-export:before {
  content: "\e932";
}
.icon-wuerth-fastviewer:before {
  content: "\e944";
}
.icon-wuerth-filter:before {
  content: "\e924";
}
.icon-wuerth-filter-loeschen:before {
  content: "\e925";
}
.icon-wuerth-freihand-zeichnen:before {
  content: "\e904";
}
.icon-wuerth-google-plus:before {
  content: "\e90b";
}
.icon-wuerth-information:before {
  content: "\e933";
}
.icon-wuerth-karriere:before {
  content: "\e93c";
}
.icon-wuerth-linie-zeichnen:before {
  content: "\e905";
}
.icon-wuerth-makler-login:before {
  content: "\e93f";
}
.icon-wuerth-musterbestellung:before {
  content: "\e941";
}
.icon-wuerth-navigation-starten:before {
  content: "\e906";
}
.icon-wuerth-orsyfleet-datei-negativ:before {
  content: "\e934";
}
.icon-wuerth-orsyfleet-diebstahl-melden:before {
  content: "\ebe8";
}
.icon-wuerth-orsyfleet-einstellungen-negativ:before {
  content: "\e935";
}
.icon-wuerth-orsyfleet-historie:before {
  content: "\ebe9";
}
.icon-wuerth-orsyfleet-information-negativ:before {
  content: "\e936";
}
.icon-wuerth-orsyfleet-kostenstellenauswertung:before {
  content: "\ebea";
}
.icon-wuerth-orsyfleet-lokalisieren:before {
  content: "\ebeb";
}
.icon-wuerth-orsyfleet-nicht-einsatzbereit:before {
  content: "\ebec";
}
.icon-wuerth-orsyfleet-reparatur:before {
  content: "\ebed";
}
.icon-wuerth-orsyfleet-schraubenschluessel-negativ:before {
  content: "\e937";
}
.icon-wuerth-positionstext:before {
  content: "\e907";
}
.icon-wuerth-qr-code:before {
  content: "\ebf4";
}
.icon-wuerth-quantity-scale:before {
  content: "\ebf5";
}
.icon-wuerth-raster:before {
  content: "\e908";
}
.icon-wuerth-rfid:before {
  content: "\ebf3";
}
.icon-wuerth-scanner:before {
  content: "\e926";
}
.icon-wuerth-schadenformular:before {
  content: "\e947";
}
.icon-wuerth-sendungsverfolgung:before {
  content: "\12df";
}
.icon-wuerth-sonderangebote:before {
  content: "\ebf7";
}
.icon-wuerth-speiseplan_app:before {
  content: "\ebe7";
}
.icon-wuerth-stammkunde:before {
  content: "\ebf1";
}
.icon-wuerth-tarifrechner:before {
  content: "\e946";
}
.icon-wuerth-teamviewer:before {
  content: "\e940";
}
.icon-wuerth-text:before {
  content: "\e94a";
}
.icon-wuerth-topkunde:before {
  content: "\ebf2";
}
.icon-wuerth-user:before {
  content: "\ebee";
}
.icon-wuerth-vergleichsliste-anzeigen:before {
  content: "\e938";
}
.icon-wuerth-versandadresse-anlegen-aendern-1:before {
  content: "\e922";
}
.icon-wuerth-video:before {
  content: "\e939";
}
.icon-wuerth-weltkugel:before {
  content: "\e942";
}
.icon-wuerth-zeichnung-zentrieren:before {
  content: "\e90a";
}
.icon-wuerth-zurueck-zur-uebersicht:before {
  content: "\e93a";
}
