<?xml version="1.0"?>
<!-- 
/**
* Copyright © 2015 PlazaThemes.com. All rights reserved.

* @author PlazaThemes Team <contact@plazathemes.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
	    <bannerslider>
	        <general>
	            <enable_frontend>1</enable_frontend>
	            <auto>1</auto>
	            <speed>5000</speed>
	            <pagination>500</pagination>
	            <show_caption>1</show_caption>
	            <next_back>0</next_back>
	            <nav_ctrl>1</nav_ctrl>
	        </general>
	    </bannerslider>
	</default>
</config>
