<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Wcb_Store" setup_version="0.0.7" schema_version="0.0.7">
        <sequence>  
            <module name="Magento_Checkout" />
            <module name="Magento_User" />
        </sequence>
    </module>
</config>
