<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="WcbBlogGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
		<arguments>
			<argument name="appliers" xsi:type="array">
				<item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
				<item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="WcbBlogGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">Wcb\Blog\Model\ResourceModel\Blog\Collection</argument>
			<argument name="filterPool" xsi:type="object" shared="false">WcbBlogGridFilterPool</argument>
		</arguments>
	</virtualType>
	<virtualType name="Wcb\Blog\Model\ResourceModel\Blog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">wcb_blog</argument>
			<argument name="resourceModel" xsi:type="string">Wcb\Blog\Model\ResourceModel\Blog</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="wcb_blog_index_listing_data_source" xsi:type="string">Wcb\Blog\Model\ResourceModel\Blog\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>