<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

   <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="CustomerSyncCommand" xsi:type="object">WurthNav\Customer\Console\Command\CustomerSyncCommand</item>
            </argument>
        </arguments>

        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="CustomerSyncFromNavCommand" xsi:type="object">WurthNav\Customer\Console\Command\CustomerSyncCommandFromNav</item>
            </argument>
        </arguments>
        
         <arguments>
            <argument name="commands" xsi:type="array">
                <item name="CustomerGroupImportCommand" xsi:type="object">WurthNav\Customer\Console\Command\CustomerGroupImportCommand</item>
            </argument>
        </arguments>
        
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="CustomerAddressImportCommand" xsi:type="object">WurthNav\Customer\Console\Command\CustomerAddressImportByCodeCommand</item>
            </argument>
        </arguments>
        
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="EmployeesImportCommand" xsi:type="object">WurthNav\Customer\Console\Command\EmployeesImportCommand</item>
            </argument>
        </arguments>
    </type>

</config>
