<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Wcb\ApiConnect\Api\GetMultiProductPriceInterface" type="Wcb\ApiConnect\Model\GetMultiProductPrice"/>
	<preference for="Wcb\ApiConnect\Api\GetMultiProductStockInterface" type="Wcb\ApiConnect\Model\GetMultiProductStock"/>
	<preference for="Wcb\ApiConnect\Api\SingalProductPriceInterface" type="Wcb\ApiConnect\Model\SingalProductPrice"/>
	<preference for="Wcb\ApiConnect\Api\SingalProductStockInterface" type="Wcb\ApiConnect\Model\SingalProductStock"/>
    <preference for="Wcb\ApiConnect\Api\Homepage\HomepageManagementInterface" type="Wcb\ApiConnect\Model\Homepage\HomepageManagement" />
    <preference for="Wcb\ApiConnect\Api\Data\ProductMeasureInterface" type="Wcb\ApiConnect\Model\Api\Data\ProductMeasure"/>
    <type name="Magento\Catalog\Model\ProductRepository">
       <plugin name="quantity_modify_plugin" type="Wcb\ApiConnect\Plugin\ProductAfterGet"/>
   </type>
    <type name="Magento\Catalog\Model\CategoryRepository">
       <plugin name="category_product_collection_count" type="Wcb\ApiConnect\Plugin\CategoryProductCollectionCountAfterGet"/>
   </type>
    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="add_more_info" type="Wcb\ApiConnect\Plugin\QuotePlugin" sortOrder="10" />
    </type>
</config>
