<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <!--  <event name="checkout_cart_save_after">
        <observer name="checkout_cart_save_after" instance="Wurth\Shippingproduct\Observer\AddShippingProduct" />
    </event> -->
<!--     <event name="sales_quote_item_save_after">-->
<!--        <observer name="checkout_cart_save_after" instance="Wcb\ApiConnect\Observer\AddShippingProduct" />-->
<!--    </event>-->
    <event name="sales_quote_save_after">
        <observer name="checkout_cart_save_after" instance="Wcb\ApiConnect\Observer\AddShippingProduct" />
    </event>
<!--    <event name="sales_quote_remove_item">-->
<!--        <observer name="checkout_cart_delete_after" instance="Wcb\ApiConnect\Observer\RemoveProductAfter" />-->
<!--    </event>-->
</config>
