<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mpproductslider_slider_listing_data_source" xsi:type="string">Wcb\BestSeller\Model\ResourceModel\Slider\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Wcb\BestSeller\Model\ResourceModel\Slider\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">wcb_bestseller_slider</argument>
            <argument name="resourceModel" xsi:type="string">Wcb\BestSeller\Model\ResourceModel\Slider</argument>
        </arguments>
    </virtualType>
</config>
