<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Mirasvit\Core\Block\Adminhtml\Menu">
        <arguments>
            <argument name="menu" xsi:type="array">
                <item name="search" xsi:type="object">Mirasvit\Search\Block\Adminhtml\Menu</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="uiConfigurationDomMerger" type="Magento\Framework\View\Element\UiComponent\Config\DomMerger">
        <arguments>
            <argument name="schema" xsi:type="string">urn:magento:module:Magento_Ui:etc/ui_configuration.xsd</argument>
            <argument name="contextXPath" xsi:type="array">
                <item name="ui_context" xsi:type="string">/</item>
            </argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="attribute_name" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Mirasvit\Search\Ui\Index\Form\DataProvider">
        <arguments>
            <argument name="domMerger" xsi:type="object">uiConfigurationDomMerger</argument>
        </arguments>
    </type>

    <virtualType name="CmsPageUploader" type="Mirasvit\Search\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="const">Mirasvit\Search\Model\ImageUploader::IMAGE_TMP_PATH</argument>
            <argument name="basePath" xsi:type="const">Mirasvit\Search\Model\ImageUploader::IMAGE_PATH</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Mirasvit\Search\Controller\Adminhtml\Search\Image\Upload">
        <arguments>
            <argument name="uploader" xsi:type="object">CmsPageUploader</argument>
        </arguments>
    </type>

    <preference for="Magento\Cms\Controller\Adminhtml\Page\Save" type="Mirasvit\Search\Controller\Adminhtml\Cms\Page\Save" />
    <preference for="Magento\Cms\Model\Page\DataProvider" type="Mirasvit\Search\Model\Cms\Page\DataProvider" />
</config>
