<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Checkout\Model\Cart">
       <plugin name="quantity_modify_plugin" type="Wcb\Checkout\Model\Plugin\Cart"/>
   </type>
    <type name="Magento\Directory\Model\PriceCurrency">
        <plugin name="round_price_precisions" type="Wcb\Checkout\Plugin\PriceCurrency"/>
    </type>
    <type name="Magento\Customer\Model\Address\AbstractAddress">
        <plugin name="skip_validate" type="Wcb\Checkout\Plugin\Model\Address\AbstractAddress"/>
    </type>
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="add_customer_loggedin" type="Wcb\Checkout\Plugin\CustomerData" sortOrder="1"/>
    </type>
    <preference for="Magento\Quote\Model\QuoteAddressValidator" type="Wcb\Checkout\Model\QuoteAddressValidator" />
</config>
