<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\BatchSizeCalculator">
        <arguments>
            <argument name="batchRowsCount" xsi:type="array">
                <item name="default" xsi:type="number">1000</item>
            </argument>
            <argument name="estimators" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Catalog\Model\Indexer\Price\BatchSizeManagement</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Indexer\Category\Product\Action\Full">
        <arguments>
            <argument name="batchRowsCount" xsi:type="number">100000</argument>
            <argument name="batchSizeManagement" xsi:type="object">Magento\Catalog\Model\Indexer\CategoryProductBatchSize</argument>
        </arguments>
    </type>
    
    <!-- <preference for="Magento\Catalog\Block\Category\View" type="Wcb\Catalog\Block\Category\View"/> Not Using As Of Now Deepak-->
    <!-- <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="Wcb\Catalog\Block\Product\ProductList\Toolbar"/>
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Wcb\Catalog\Block\Product\ListProduct" />    -->

</config>
