<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<tr class="grand totals">
    <td class="mark" scope="row">
        <strong data-bind="i18n: title"></strong>
    </td>
    <td class="amount" data-bind="attr: {'data-th': $t(title)}">
        <strong><span class="price" data-bind="text: getValue()"></span></strong>
        <!-- ko foreach: elems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </td>
</tr>
<tr class="grand totals wcb-grand">
    <td colspan="2">
        <span class="cart-notice"
              data-bind="i18n: 'For all orders 300 HRK (excluding VAT) we charge delivery in the amount of 20 HRK + VAT'"></span>
    </td>
</tr>
<tr class="grand totals wcb-grand-totals">
    <td class="mark" scope="row">
        <strong data-bind="i18n: 'Total'"></strong>
    </td>
    <td class="amount" data-bind="attr: {'data-th': $t(title)}">
        <strong><span class="price" data-bind="text: getValue()"></span></strong>
        <!-- ko foreach: elems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </td>
</tr>
<!-- /ko -->
