.config-nav-block.amasty-tab strong:before {
    background: url(../images/logo.svg) no-repeat;
    width: 16px;
    height: 16px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}

.admin__menu [data-ui-id^="menu-amasty-"] .submenu-group-title span:before,
.admin__menu [data-ui-id^="menu-magento-"] [data-ui-id^="menu-magento-"] [data-ui-id^="menu-amasty-"] span:before {
    background: url(../images/logo-menu.svg) no-repeat;
    width: 16px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: top;
}

#amasty_base_extensions table td.value,
#amasty_base_information table td.value {
    vertical-align: bottom;
}

.ambase-grid-message {
    padding-left: 58px;
    min-height: 53px;
    background: url(../images/logo_m_table.png) no-repeat;
}

.ambase-grid-message.amasty-grid-logo {
    background: url(../images/logo_table.svg) no-repeat;
}

.admin__action-dropdown-menu .notifications-entry:not(.notifications-entry-last) {
    padding-left: 37px;
    background: url(../images/logo_m_popup.png) no-repeat 5px 7px;
}

.admin__action-dropdown-menu .notifications-entry[data-ambase-logo="1"] {
    background: url(../images/logo_popup.svg) no-repeat 5px 7px;
}

/* main amasty menu start*/
#menu-menuamasty-base-menu .submenu .level-0 > a:before,
#menu-menuamasty-base-menu .level-0:first-child > a:after {
    content: '';
    display: none;
}

#menu-menuamasty-base-menu .submenu .level-1,
#menu-menuamasty-base-menu .submenu .level-0 {
    margin-right: 15px;
}

#menu-menuamasty-base-menu .submenu .level-0._show > a {
    color: #fff;
    font-weight: 700;
}

#menu-menuamasty-base-menu .submenu .level-1 > a:hover {
    background-color: #524d49;
    color: #fff;
}

#menu-menuamasty-base-menu .submenu .level-1 > a,
#menu-menuamasty-base-menu .submenu .level-0 > a {
    display: block;
    margin: .7rem 0;
    padding: 1rem 1.5rem;
    min-height: 0;
    width: 99%;
    color: #a79d95;
    text-align: left;
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
}

#menu-menuamasty-base-menu .submenu .level-1 {
    margin-left: 0;
}

.item-extensions a,
.item-marketplace a {
    color: #fff!important;
    font-weight: 600!important;
}

#menu-menuamasty-base-menu .submenu .column {
    min-width: 22rem;
}

#menu-menuamasty-base-menu .submenu > #nav,
#menu-menuamasty-base-menu .submenu .column > ul {
    overflow-y: auto;
    margin-right: 15px;
    max-height: 720px;
    scrollbar-color: #a79d95;
    scrollbar-width: thin;
}

#menu-menuamasty-base-menu .submenu > #nav::-webkit-scrollbar,
#menu-menuamasty-base-menu .submenu .column > ul::-webkit-scrollbar {
    width: 3px;
}

#menu-menuamasty-base-menu .submenu > #nav::-webkit-scrollbar-track,
#menu-menuamasty-base-menu .submenu .column > ul::-webkit-scrollbar-track {
    width: 3px;
    background: #a79d95;
}

#menu-menuamasty-base-menu .submenu > #nav::-webkit-scrollbar-thumb,
#menu-menuamasty-base-menu .submenu .column > ul::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #fff;
}

#menu-menuamasty-base-menu .submenu .level-0 > a:hover {
    background-color: #524d49;
}

#menu-menuamasty-base-menu .submenu .column .parent {
    margin-bottom: 0;
}

#menu-menuamasty-base-menu .submenu .parent {
    margin-bottom: 0.5rem;
}

#menu-menuamasty-base-menu .item-container .submenu {
    transform: none;
    opacity: 0;
    transition-property: opacity;
}

#menu-menuamasty-base-menu .item-container._show .submenu {
    opacity: 1;
}

#menu-menuamasty-base-menu > a:before {
    content: '';
    background:  url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNiAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTI2IDBIMTguNzUzNlYxLjQ5MzM5QzE3LjAzNyAwLjU0MTk1NSAxNS4wNjA2IDAgMTIuOTU2NSAwQzYuMzYyMzIgMCAxIDUuMzgxODIgMSAxMkMxIDE4LjYxODIgNi4zNjIzMiAyNCAxMi45NTY1IDI0QzE1LjA1ODcgMjQgMTcuMDM1NyAyMy40NTMxIDE4Ljc1MzYgMjIuNDkzNVYyNEgyNlYwWk03LjM0MDU4IDEyQzcuMzQwNTggMTUuMTI3MyA5Ljg3NjgxIDE3LjYzNjQgMTIuOTU2NSAxNy42MzY0QzE2LjA3MjUgMTcuNjM2NCAxOC41NzI1IDE1LjEyNzMgMTguNTcyNSAxMkMxOC41NzI1IDguODcyNzMgMTYuMDcyNSA2LjM2MzY0IDEyLjk1NjUgNi4zNjM2NEM5Ljg3NjgxIDYuMzYzNjQgNy4zNDA1OCA4Ljg3MjczIDcuMzQwNTggMTJaIiBmaWxsPSIjQUFBNTlGIi8+PHBhdGggZD0iTTcgMTdIMFYyNEg3VjE3WiIgZmlsbD0iIzU3NTc1NyIvPjwvc3ZnPg==) no-repeat center;
    background-size: contain;
}

#menu-menuamasty-base-menu > a:hover:before,
#menu-menuamasty-base-menu._show > a:before {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNiAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTI2IDBIMTguNzUzNlYxLjQ5MzM5QzE3LjAzNyAwLjU0MTk1NSAxNS4wNjA2IDAgMTIuOTU2NSAwQzYuMzYyMzIgMCAxIDUuMzgxODIgMSAxMkMxIDE4LjYxODIgNi4zNjIzMiAyNCAxMi45NTY1IDI0QzE1LjA1ODcgMjQgMTcuMDM1NyAyMy40NTMxIDE4Ljc1MzYgMjIuNDkzNVYyNEgyNlYwWk03LjM0MDU4IDEyQzcuMzQwNTggMTUuMTI3MyA5Ljg3NjgxIDE3LjYzNjQgMTIuOTU2NSAxNy42MzY0QzE2LjA3MjUgMTcuNjM2NCAxOC41NzI1IDE1LjEyNzMgMTguNTcyNSAxMkMxOC41NzI1IDguODcyNzMgMTYuMDcyNSA2LjM2MzY0IDEyLjk1NjUgNi4zNjM2NEM5Ljg3NjgxIDYuMzYzNjQgNy4zNDA1OCA4Ljg3MjczIDcuMzQwNTggMTJaIiBmaWxsPSIjRkNGQ0ZDIi8+PHBhdGggZD0iTTcgMTdIMFYyNEg3VjE3WiIgZmlsbD0iIzU3NTc1NyIvPjwvc3ZnPg==) no-repeat center;
    background-size: contain;
}

.admin__menu .level-0#menu-menuamasty-base-menu > .submenu > ul[role='menubar'] {
    min-height: 720px;
}

.admin__menu .level-0#menu-menuamasty-base-menu .submenu > ul[role='menu'] {
    min-height: inherit;
}

.admin__menu .level-0 > .submenu .submenu {
    min-width: 253px;
    min-height: 100%;
}

.admin__menu .submenu .submenu .submenu-title {
    margin-left: 18px;
    height: 60px;
    font-size: 18px;
    line-height: 130%;
}
/* main amasty menu end*/
