<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var customer.name":"Customer Name",
"var this.getUrl($store,'customer/account/createPassword/',[_query:[token:$customer.rp_token],_nosid:1])":"Reset Password URL"
} @-->

{{template config_path="design/email/header_template"}} 
<p style='font-size:20px; margin: 0px;'><strong>Narud&#382;ba br: {{order_number}}. Datum: {{date}}</strong></p>
</div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
   <td style="background: #FFFFFF; border-bottom: 1px solid #CC0000; box-sizing: border-box; height:20px;"></td>
</tr>
 <!-- Content Start-->
                  <tr>
                    <table style="width: 95%; margin: auto; margin-top: 20px;">
                            <tr>
                                <td style="width: 100%;">
                                    Poštovani, <br /><br />
                                    Tražena roba nažalost nije dostupna u odabranoj poslovnici {shop_Name} <br /><br />
                                    Za detalje molimo da kontaktirajte Vašeg komercijalistu ili osoblje shopa na Mail {shop_email} ili osobno u poslovnici.
                                    <br /><br />
                                    Vaša narudžba neće biti fakturirana.
                                    <br /><br />
                                    Vaš tim Würth-Hrvatska d.o.o.
                                </td>
                                
                            </tr>
                        </table>
                  </tr>
                 <!-- End Content -->                   
{{template config_path="design/email/footer_template"}}
