<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var customer.name":"Customer Name",
"var this.getUrl($store,'customer/account/createPassword/',[_query:[token:$customer.rp_token],_nosid:1])":"Reset Password URL"
} @-->

{{template config_path="design/email/header_template"}} 
<p style='font-size:20px; margin: 0px;'><strong>Narud&#382;ba br: {{order_number}}. Datum: {{date}}</strong></p>
</div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
   <td style="background: #FFFFFF; border-bottom: 1px solid #CC0000; box-sizing: border-box; height:20px;"></td>
</tr>
 <!-- Content Start-->
                  <tr>
                    <table style="width: 95%; margin: auto; margin-top: 20px;">
                            <tr>
                                <td style="width: 50%;">
                                    <table border='0'>
                                        <tbody>
                                            <tr>
                                                <td style='color: #cc0000;' colspan='2'><strong>Adresa za isporuku - DELIVERY ADRESS </strong></td>
                                            </tr>
                                            <tr>
                                                <td>Naziv kupca:</td>
                                                <td>&nbsp;{{company_1}}</td>
                                            </tr>
                                            <tr>
                                                <td>Ulica i broj:</td>
                                                <td>{{address_1}}&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Po&scaron;tanski broj:</td>
                                                <td>{{postal_code_1}}&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Mjesto:</td>
                                                <td>{{place_1}}</td>
                                            </tr>
                                            <tr>
                                                <td>Telefon:</td>
                                                <td>{{phone}}&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>E-mail:ORDERED BY MAIL &nbsp;</td>
                                                <td>{{email}}&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Naru&#269;itelj: ORDERED BY NAME</td>
                                                <td>{{ordered_by}}&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="width: 50%;">
                                    <tbody>
                                            <tr>
                                                <td style='color: #cc0000;' colspan='2'><strong>Adresa za isporuku - DELIVERY ADRESS </strong></td>
                                            </tr>
                                            <tr>
                                                <td>Naziv kupca:</td>
                                                <td>&nbsp;{{company_1}}</td>
                                            </tr>
                                            <tr>
                                                <td>Ulica i broj:</td>
                                                <td>{{address_1}}&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Po&scaron;tanski broj:</td>
                                                <td>{{postal_code_1}}&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Mjesto:</td>
                                                <td>{{place_1}}</td>
                                            </tr>
                                            <tr>
                                                <td>Telefon:</td>
                                                <td>{{phone}}&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>E-mail:ORDERED BY MAIL &nbsp;</td>
                                                <td>{{email}}&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Naru&#269;itelj: ORDERED BY NAME</td>
                                                <td>{{ordered_by}}&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br />
                                    <span style="font-weight: bold;">Napomena:</span> {{order_comment}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br />
                                    <span style="font-weight: bold;">Način plaćanja:</span> {{payment_type}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:center">
                                    <br />
                                    Vaša narudžba biti će spremna za preuzimanje u poslovnici <b>{{shop_name}}</b> na dan <span style="color:red">{{time_now_one}}</span>
                                </td>
                            </tr>
                        </table>
                  </tr>
                 <!-- End Content -->                   
{{template config_path="design/email/footer_template"}}
