<div class="col-md-12" id="last-seen" data-bind="afterRender: getRecentProductsData, visible: recentItems.length > 0">
    <div class="wcb-last-seen">
        <div class="search-heading">
            <h3 data-bind="i18n:'Last Seen'"></h3>
        </div>

        <div class="wcb-last-seen-wrapper">
            <!-- ko foreach: { data: recentItems, as: 'item' } -->
            <div class="wcb-last-seen">
                <span class="search-pro-img">
                    <img data-bind="attr: {src: item.image}">
                </span>
                <a data-bind="attr: {href: item.url}">
                    <p data-bind="text: item.name" class="wcb-seen-title"></p>
                </a>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
