<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mirasvit_Brand::brand" title="Mirasvit Brand" module="Mirasvit_Brand" sortOrder="20" resource="Mirasvit_Brand::brand"
             parent="Magento_Backend::content"/>
        <add id="Mirasvit_Brand::brand_brand" title="Brands" module="Mirasvit_Brand" sortOrder="20" action="brand/brand" resource="Mirasvit_Brand::brand"
             parent="Mirasvit_Brand::brand"/>
        <add id="Mirasvit_Brand::attribute" title="Attributes" module="Magento_Catalog" sortOrder="10" action="catalog/product_attribute/" resource="Magento_Catalog::attributes_attributes"
             parent="Mirasvit_Brand::brand"/>
        <add id="Mirasvit_Brand::configuration" title="Configuration" module="Mirasvit_Brand" sortOrder="30" action="adminhtml/system_config/edit/section/brand" resource="Mirasvit_Brand::config_brand"
             parent="Mirasvit_Brand::brand"/>
    </menu>
</config>
