<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_cart_add">
        <observer name="custom_check_product_status_default_add_cart" instance="Wcb\Checkout\Observer\CheckProductCustomStatus"/>
    </event>
    <event name="controller_action_predispatch_qtyimport_product_addToCart">
        <observer name="custom_check_product_status_import_product_cart" instance="Wcb\Checkout\Observer\CheckProductCustomStatus"/>
    </event>
    <event name="controller_action_predispatch_wishlist_index_cart">
        <observer name="custom_check_product_status_wishlist" instance="Wcb\Checkout\Observer\WishlistCheckProductCustomStatus"/>
    </event>
    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="change_product_price_page_reload" instance="Wcb\Checkout\Observer\ChangeProductPrice"/>
    </event>
</config>

