<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Barcode API preference-->
    <preference for="Wcb\BarcodeApi\Api\BarCodeManagementInterface" type="Wcb\BarcodeApi\Model\BarCodeManagement" />
    <!--Barcode API preference End-->
</config>