<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--NegotiableQuoteApi API preference-->
    <preference for="Wcb\NegotiableQuoteApi\Api\RequestAQuoteManagementInterface" type="Wcb\NegotiableQuoteApi\Model\RequestAQuoteManagement" />
    <!--NegotiableQuoteApi API preference End-->
</config>