<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mirasvit\Core\Api\Service\XmlInterface" type="Mirasvit\Core\Service\Xml"/>

    <type name="Magento\Framework\View\TemplateEngineFactory">
        <plugin name="mstCoreManualLink" type="Mirasvit\Core\Plugin\ManualLinkPlugin" sortOrder="1000"/>
    </type>

    <type name="Magento\Backend\Block\Menu">
        <plugin name="mstCoreAppendJs" type="Mirasvit\Core\Plugin\Backend\Block\Menu\AppendJsPlugin"/>
        <plugin name="mstCoreUpdateMarkup" type="Mirasvit\Core\Plugin\Backend\Block\Menu\UpdateMarkupPlugin"/>
    </type>

    <type name="Magento\Backend\Model\Menu\Item">
        <plugin name="mstCoreMarketplaceUrl" type="Mirasvit\Core\Plugin\Backend\Model\Menu\Item\MarketplaceUrlPlugin"/>
        <plugin name="mstCoreDirectUrl" type="Mirasvit\Core\Plugin\Backend\Model\Menu\Item\DirectUrlPlugin"/>
    </type>

    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin name="mstCoreBuilder" type="Mirasvit\Core\Plugin\Backend\Model\Menu\Builder\BuilderPlugin"/>
    </type>

    <type name="Magento\Framework\App\ActionInterface">
        <plugin name="Mirasvit_Core::cronChecker" type="Mirasvit\Core\Plugin\Backend\Framework\App\FrontController\CronCheckerPlugin" sortOrder="10"/>
    </type>

    <type name="Magento\Config\Model\Config\Structure">
        <plugin name="Mirasvit_Core:suggester" type="Mirasvit\Core\Plugin\Backend\SuggesterPlugin"/>
    </type>

    <type name="Magento\Cron\Model\ResourceModel\Schedule\Collection">
        <plugin name="mstSetIdFieldNameToScheduleCollection" type="\Mirasvit\Core\Plugin\Backend\GetIdFieldNameScheduleCollectionPlugin"/>
    </type>

    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="mstCronMessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Mirasvit_Core::messages/cron.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
