<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wurh_it" translate="label" sortOrder="110">
            <label>WURTH-IT</label>
        </tab>
        <section id="shipping_product_section" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Shipping Product</label>
            <tab>wurh_it</tab>
            <resource>Wurth_Shippingproduct::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="cart_amount_limit" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cart Amount Limit</label>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="product_code" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Code</label>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
