<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Please confirm your %store_name account" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var this.getUrl($store,'customer/account/confirm/',[_query:[id:$customer.id,key:$customer.confirmation,back_url:$back_url],_nosid:1])":"Account Confirmation URL",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}} 
<p style='font-size:20px; margin: 0px;'><strong>Aktivacija korisničkog računa Würth Online Shop</strong></p>
   </div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
   <td style="background: #FFFFFF; border-bottom: 1px solid #CC0000; box-sizing: border-box; height:20px;"></td>
</tr>
 <!-- Content Start-->
                 <tr>
                     <td>
                        <table style="width: 95%; margin: auto; margin-top: 20px;">
                           <tr>
                              <td>       
                                Poštovani,
                                <br /><br />
                                zahvaljujemo se na Vašem povjerenju i prijavi u Würth Online Shop.
                                <br /><br />
                                Molim potvrdite Vašu e-mail adresu klikom na ovaj link: <span style="font-size:12px"><b><a href="{{var this.getUrl($store,'customer/account/confirm/',[_query:[id:$customer.id,key:$customer.confirmation,back_url:$back_url],_nosid:1])}}" target="_blank">{{trans "Confirm Your Account"}}</a></b></span>
                                <br /><br />
                                Adresa online shopa je - <a href="{{config path="web/secure/base_url"}}">eshop.wuerth.com.hr</a>
                                <br /><br />
                                Ukoliko imate pitanja, prijedloge ili želite prijaviti greške u sustavu, molimo kontaktirajte nas na mail:  <a href="mailto:webshop@wuerth.com.hr">webshop@wuerth.com.hr</a>. Potrebna nam je Vaša povratna informacija.
                                <br /><br />
                                Vaš tim,
                                <br /><br />
                                Würth-Hrvatska ddd
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
                   <!-- Content Start-->
                           
{{template config_path="design/email/footer_template"}}




