<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Welcome to %store_name" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])":"Password Reset URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}
                <p style='text-align: center;'> <strong>Registracija novog korisnika: {company}. Datum: {date}</strong></p><br /> <br />
 <table width="900">
                    <tr>
                        <td style="width: 50%;">
                            <table border='0'>
                                <tbody>
                                    <tr>
                                        <td style='color: #cc0000; text-align: left;' colspan='2'><strong>Osnovni podaci</strong></td>
                                    </tr>
                                    <tr>
                                        <td>OIB tvrtke: </td>
                                        <td>{company_id} </td>
                                    </tr>

                                    <tr>
                                        <td>Adresa sjedišta:</td>
                                        <td>{address} </td>
                                    </tr>

                                    <tr>
                                        <td>Broj pošte: </td>
                                        <td>{postal_code} </td>
                                    </tr>
                                    <tr>
                                        <td>E-mail: </td>
                                        <td>{{var customer.email}} </td>
                                    </tr>
                                    <tr>
                                        <td>Pozicija u poduzeću: </td>
                                        <td>{positionin_company} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 50%;">
                            <table border='0'>
                                <tbody>
                                    <tr>
                                        <td style='color: #cc0000; text-align: left;' colspan='2'></td>
                                    </tr>
                                    <tr>
                                        <td>Naziv tvrtke: </td>
                                        <td>{company} </td>
                                    </tr>
                                    <tr>
                                        <td>Mjesto: </td>
                                        <td>{place} </td>
                                    </tr>
                                    <tr>
                                        <td>Kontakt osoba: </td>
                                        <td>{contact_person} </td>
                                    </tr>

                                    <tr>
                                        <td>Telefon:</td>
                                        <td>{phone} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>

                <p style="clear: both;"> </p>

                <table width="900">
                    <tr>
                        <td style="width: 50%;">
                            <table border='0'>
                                <tbody>
                                    <tr>
                                        <td style='color: #cc0000; text-align: left;' colspan='2'><strong>Divizija</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Divizija:</td>
                                        <td>{division} </td>
                                    </tr>


                                </tbody>
                            </table>
                        </td>
                        <td style="width: 50%;">
                            <table border='0'>
                                <tbody>
                                    <tr>
                                        <td style='color: #cc0000; text-align: left;' colspan='2'><strong>Branša</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Branša:</td>
                                        <td>{branch} </td>
                                    </tr>


                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <p style="clear: both;"> </p>

                <table width="900">
                    <tr>
                        <td style="width: 50%;">
                            <table border='0'>
                                <tbody>
                                    <tr>
                                        <td style='color: #cc0000; text-align: left;' colspan='2'><strong>Adresa za isporuku</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Ulica i broj:</td>
                                        <td>{delivery_address} </td>
                                    </tr>
                                    <tr>
                                        <td>Mjesto: </td>
                                        <td>{delivery_place} </td>
                                    </tr>
                                    <tr>
                                        <td>Mjesto: </td>
                                        <td>{delivery_postal_code} </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                        <td style="width: 50%;">
                            <table border='0'>
                                <tbody>
                                    <tr>
                                        <td style='color: #cc0000; text-align: left;' colspan='2'><strong>Adresa za fakturu</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Ulica i broj:</td>
                                        <td>{invoice_address} </td>
                                    </tr>
                                    <tr>
                                        <td>Mjesto: </td>
                                        <td>{invoice_place} </td>
                                    </tr>
                                    <tr>
                                        <td>Mjesto: </td>
                                        <td>{invoice_postal_code} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>

                <p style="clear: both;"> </p>

                <table width="900">
                    <tr>
                        <td style="width: 100%;">
                            <table border='0'>
                                <tbody>
                                    <tr>
                                        <td style='color: #cc0000; text-align: left;'><strong>Želim dobijati Newsletter</strong></td>
                                    </tr>
                                    <tr>
                                        <td>{newsletter} </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
{{template config_path="design/email/footer_template"}}
