<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Mirasvit_Search::search">
                        <resource id="Mirasvit_SearchLanding::search_landing_page" title="Landing Pages"
                                  sortOrder="35"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>