<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Mirasvit\SearchLanding\Api\Data\PageInterface" type="Mirasvit\SearchLanding\Model\Page"/>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Mirasvit\SearchLanding\Api\Data\PageInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">mst_search_landing_page</item>
                    <item name="identifierField" xsi:type="string">page_id</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="searchLandingPage_listing_data_source" xsi:type="string">Mirasvit\SearchLanding\Model\ResourceModel\Page\Grid</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Mirasvit\SearchLanding\Api\Data\PageInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
</config>
