<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <categorytab>
            <new_status>
                <enabled>1</enabled>
				<des>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</des>
				<row>1</row>
				<items>4</items>
				<speed>1000</speed>
				<qty>4</qty>
				<addtocart>1</addtocart>
				<wishlist>1</wishlist>
				<compare>1</compare>
				<navigation>1</navigation>
				<pagination>0</pagination>
				<auto>0</auto>
            </new_status>
        </categorytab>
    </default>
</config>
