<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--ProductCompare API preference-->
    <preference for="Wcb\ProductSearchApi\Api\ProductSearchManagementInterface" type="Wcb\ProductSearchApi\Model\ProductSearchManagement" />
    <!--ProductCompare API preference End-->
</config>