<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_register_success">
		<observer name="persistent" instance="Wcb\CustomerRegistration\Observer\Frontend\Customer\RegisterSuccess"/>
	</event>
	<event name="controller_action_predispatch_myrecaptcha_index_save">
		<observer name="recaptcha_demo_form" instance="Wcb\CustomerRegistration\Observer\RecapchaObserver"/>
	</event>
</config>
