<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mst_seo_filter" frontName="mst_seo_filter">
            <module name="Mirasvit_SeoFilter" before="Magento_Backend"/>
        </route>
    </router>
</config>
