<h3>Select a delivery method</h3>
   <div class="select-delivery">
            <label for="is_subscribed" class="label newsletter">
            <input type="checkbox" name="is_subscribed" title="Select a delivery method" class="checkbox" checked="checked">
                   <span class="checkmark"> </span>
                <span data-bind="i18n: 'Select a delivery method'"></span>
            </label>
   </div>
   <div class="click-collect">
       <div class="boxgroup">
            <label for="is_subscribed">
            <input type="checkbox" name="is_subscribed" title="Click and Collect?" class="checkbox">
                   <span class="checkmark"> </span>
                <span data-bind="i18n: 'Click and Collect?'"></span>
            </label>
            <span class="textbox"> 
    <select class="select select-stores" name="stores" data-bind="
        options: storeOption,
        optionsText: 'name',
        optionsValue: 'entity_id',
        value: selectedStore,
        event: {change: storeChange(selectedStore())};">
    </select>

     </span>
            <!-- <b>Selected Store:</b> <span data-bind="text: selectedStore"></span> -->

        </div>
            <p class="text-content" data-bind="i18n: 'It is possible to pick up goods that are available on site.'"></p>
   </div>
   <div class="card-body">                
                <div class="card-img">
                <img class="card-img-top" data-bind="attr:{src: image}" />                   
                </div>
                <div class="card-content">
                    <div class="title" data-bind="text:store_name"></div>
                   <div class="store-address">
                    <span data-bind="text:address">
                     <!--<span class="location">                            
                            <iframe data-bind="attr: {src: map_url}" width="100%" height="300">
                                <p>Your browser does not support iframes.</p>
                             </iframe>
                        </span>  -->                     
                    </span> 
                    <span class="location"> <a  data-bind="attr: {href: map_url}" target="_blank"><span data-bind="i18n: 'Location'"></span></a></span> 
                </div>
                   
                    <div class="info-contaner">
                       <p> <span class="icon-com-phone-a"></span> <span data-bind="i18n: 'Phone: '"> </span><span class="iphone-outline" data-bind="text:phone"></span></p>
                      <p> <span class="icon-wuerth-e-mail"></span> <span data-bind="i18n: 'Email: '"> </span><span class="email-outline" data-bind="text:email"></span></span></p>
                   </div>
        </div>              
  </div>
